<template>
    <div class="deficit">
        <ul class="deficit__list" v-if="deficit.list">
            <li class="deficit__item card-item" v-for="item in deficit.list" :key="item.id">
                <img class="deficit__img" v-if="!Globals.IsMobile" :src="item.icon" alt="">
                <div class="deficit__content">
                    <div class="deficit__title">
                        <img class="deficit__img" v-if="Globals.IsMobile" :src="item.icon" alt="">
                        {{item.name}}
                    </div>
                    <hr>
                    <div class="deficit__name" v-if="item.caredby && 1 !== item.subscribed">
                        Принесёт: <follower :follower="item.caredby" :lvlh="24"></follower>
                    </div>
                    <div class="deficit__name" v-if="2 === item.subscribed">
                        <span :style="{'color': '#FF0000'}">В избытке, пока не приносите.</span>
                    </div>
                    <button class="btn" v-if="0 === item.subscribed" @click="care(item.id)">Я принесу это!</button>
                    <button class="btn" v-if="1 === item.subscribed" @click="drop(item.id)">Нет, не принесу.</button>
                </div>
            </li>
        </ul>
    </div>
</template>

<script setup lang="ts">
import axiosInstance from "@/axios";
import {onMounted, reactive} from "vue";
import Follower from "@/components/Follower/Follower.vue";
import type {TDeficitItem} from "@/types/deficit";
import {GetGlobalsPointer} from '@/stores/globals'	

const Globals = GetGlobalsPointer();

const deficit: { [key: string]: Array<TDeficitItem> | null } = reactive({
    list: null
});

onMounted(() => {
    axiosInstance.get(`/deficit`).then(data => {
        deficit.list = data.data.deficit;
     });
 });

const care = (id: number): void => {
    axiosInstance.post(`/deficit_care`,{resource: id}).then(data => {
        deficit.list = data.data.deficit;
    });
};

const drop = (id: number): void => {
    axiosInstance.post(`/deficit_drop`,{resource: id}).then(data => {
        deficit.list = data.data.deficit;
    });
};

</script>
<style lang="scss">
.deficit {
    &__list {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;

        @media (max-width: 1199px) {
            width: 100%;
            padding: 10px;
        }
    }

    &__item {
        display: flex;
        width: 45%;
        margin: 20px;

        @media (max-width: 1199px) {
            width: 100%;
            margin: 20px 0;
            padding: 10px;
        }
    }

    &__img {
        width: 90px;
        height: 90px;
        margin-right: 20px;

        @media (max-width: 1199px) {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }

    &__content {
        width: 100%;
        hr {
            width: 100%;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }

    &__name {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 18px;
        line-height: 24px;
    }

    .follower {
        display: flex;
        align-items: center;
        margin-left: 10px;

        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }

        .name {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .btn {
        @media (max-width: 1199px) {
            width: 100%;
        }
    }
}
</style>
