<template>
    <span class="follower">
        <img 
	    style="margin:0"
            :src="follower.icon"
            :alt="follower.hint"
            :height="lvlh"
            @click="toAchievements">
	<span v-if="!reduced" style="margin:0"><pre> </pre>{{follower.name}}</span>
        <span :style="{color:follower.color,margin:0}"><pre> </pre>{{follower.alias}}</span>
        <span v-if="!reduced" style="margin:0"><pre> </pre>{{follower.surname}}</span>
    </span>
</template>
<script setup lang="ts">
import type {TPlayer, TScheduleItem} from "@/types/schedule";
import {defineProps} from "vue";
import {useRouter} from "vue-router";

const props = defineProps<{
    follower: TPlayer,
    lvlh: number,
    reduced?: boolean,
}>();

const router = useRouter();

const toAchievements = () => {
    router.push({
        name: 'achievements',
        query: {
            key: props.follower.id
        }
    })
}
</script>
<style lang="scss">
.follower {
    display:flex;
    align-items: center;
    img {
        cursor: pointer;
	display: inline;
    }
    pre{
        display:inline;
        font-family:none;
    }
}
</style>
