<template>
    <li class="schedule-item" ref="scheduleItem" :class="{ rare: item.rare }">
        <template v-if="Globals.IsMobile">
            <template v-if="isDetailed">
                <div class="schedule-item__info-mobile">
                    <span class="title"><img :src="item.icon" v-if="item.icon" height="40"><b>{{ item.name }}</b></span>
                    <span v-if="item.description">{{ item.description }}</span>
                    <span><hr></span>
                    <span><b>{{ item.day }}</b>, {{ item.date }} <b>{{ item.time }}</b></span>
                    <span v-if="item.content">{{ item.content }}</span>
                    <span v-if="item.rules" @click="router.push({name: 'rules', hash: `#${item.rules}`})">Правила игры</span>
                    <span v-if="item.warning"><b>Предупреждение:</b> {{ item.warning }}</span>
                    <button v-if="item.deficit && (1==item.subscribed)" type="button" class="btn" @click="router.push({name: 'deficit'})">Что мне принести?</button>
                    <span><hr></span>
            	    <div class="schedule-item__players">
                         <span class="schedule-item__subscribed"><b>Записи ({{ item.players.length }}<span v-if="item.places"> из {{ item.places }}</span>)</b></span>
                         <follower v-for="player in item.players" :key="player.id" :follower="player" :lvlh="24"></follower>
		    </div>
                    <button v-if="0===item.subscribed" type="button" class="btn" @click="subscribe(item.id)">Записаться</button>
                    <button v-if="1===item.subscribed" type="button" class="btn" @click="unsubscribe(item.id)">Отписаться</button>
                    <button v-if="2===item.subscribed" type="button" class="btn-disabled">{{"Запись откроется ".concat(item.unlocking)}}</button>
                    <button v-if="3===item.subscribed" type="button" class="btn-disabled">Запись пока недоступна</button>
                    <button v-if="4===item.subscribed" type="button" class="btn-disabled">Приватное событие</button>
                    <button v-if="5===item.subscribed" type="button" class="btn-disabled">Мест больше нет</button>
                </div>
            </template>
            <template v-else>
                <div class="schedule-item__info-mobile">
                    <span class="title"><img :src="item.icon" v-if="item.icon" height="40"><b>{{ item.name }}</b></span>
                    <span class="date"><b>{{ item.day }}</b>, {{ item.date }} <b>{{ item.time }}</b></span>
                    <button type="button" class="btn" @click="showDetailed">Подробнее</button>
                </div>
            </template>
        </template>
        <template v-else>
            <div class="schedule-item__info-desktop">
                <span class="title"><img :src="item.icon" v-if="item.icon" height="40"><b>{{ item.name }}</b></span>
                <span v-if="item.description">{{ item.description }}</span>
                <span><hr></span>
                <span><b>{{ item.day }}</b>, {{ item.date }} <b>{{ item.time }}</b></span>
                <span v-if="item.content">{{ item.content }}</span>
                <span v-if="item.rules" @click="router.push({name: 'rules', hash: `#${item.rules}`})">Правила игры</span>
                <span v-if="item.warning"><b>Предупреждение:</b> {{ item.warning }}</span>
                <button v-if="item.deficit && (1==item.subscribed)" type="button" class="btn" @click="router.push({name: 'deficit'})">Что мне принести?</button>
            </div>
            <div class="schedule-item__players">
                <span class="schedule-item__subscribed"><b>Записи ({{ item.players.length }}<span v-if="item.places"> из {{ item.places }}</span>)</b></span>
                <follower v-for="player in item.players" :key="player.id" :follower="player" :lvlh="24"></follower>
                <button v-if="0===item.subscribed" type="button" class="btn" @click="subscribe(item.id)">Записаться</button>
                <button v-if="1===item.subscribed" type="button" class="btn" @click="unsubscribe(item.id)">Отписаться</button>
                <button v-if="2===item.subscribed" type="button" class="btn-disabled">{{"Запись откроется ".concat(item.unlocking)}}</button>
                <button v-if="3===item.subscribed" type="button" class="btn-disabled">Запись пока недоступна</button>
                <button v-if="4===item.subscribed" type="button" class="btn-disabled">Приватное событие</button>
                <button v-if="5===item.subscribed" type="button" class="btn-disabled">Мест больше нет</button>
            </div>
        </template>
    </li>
</template>

<script setup lang="ts">
import type {TScheduleItem} from "@/types/schedule";
import {defineProps, defineEmits, computed, ref, onMounted} from "vue";
import EventApi from "@/api/EventApi";
import Follower from "@/components/Follower/Follower.vue";
import axiosInstance from "@/axios";
import {useRouter} from "vue-router";
import {GetGlobalsPointer} from '@/stores/globals'	

const Globals = GetGlobalsPointer();

const props = defineProps<{
    item: TScheduleItem,
}>();

const isDetailed = ref(false);
const router = useRouter();
const emit = defineEmits(['update-list']);

const subscribe = (id: number): void => {
    axiosInstance.post(`/subscribe`, {event: id}).then(data => {
        const response = data.data;
        if (response) {
            emit('update-list', response.schedule);
        }
    });
};

const unsubscribe = (id: number): void => {
    axiosInstance.post(`/unsubscribe`, {event: id}).then(data => {
        const response = data.data;
        if (response) {
            emit('update-list', response.schedule);
        }
    });
};

const scheduleItem = ref(null);

const showDetailed = (): void => {
    EventApi.triggerEvent(EventApi.COLLAPSE_EVENTS);
    isDetailed.value = true;
};

const hideDetailed = (): void => {
    isDetailed.value = false;
};

onMounted(() => {
    EventApi.addEventListener(EventApi.COLLAPSE_EVENTS, hideDetailed);
});
</script>

<style lang="scss">
@import '@/assets/scss/schedule-item.scss';
</style>
