<template>
    <div class="game">
        <div class="game__strength">
            <span class="title">Осталось силы</span>
            <div class="total">{{ strength }}</div>
        </div>
        <div class="game__difficulty" v-if="groupDifficulty">
            <div class="title">Сложность испытания</div>
            <div class="difficulty-list">
                <div class="difficulty-item">
                    <div class="value"><span>{{ groupDifficulty }}</span> (на группу)</div>
                </div>
                <div class="difficulty-item">
                    <div class="value"><span>{{ personalDifficulty }}</span> (на игрока)</div>
                </div>
            </div>
        </div>
        <div class="game__numpad" v-if="numpadIsAvailable">
            <input type="text" readonly v-model="inputValue">
            <div class="numbers">
                <button type="button" v-for="value in numpadValues" @click="addValue(value)">{{ value }}</button>
                <button type="button" class="enter" @click="enterValue">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024" class="icon"><path d="M864 170h-60c-4.4 0-8 3.6-8 8v518H310v-73c0-6.7-7.8-10.5-13-6.3l-141.9 112a8 8 0 0 0 0 12.6l141.9 112c5.3 4.2 13 .4 13-6.3v-75h498c35.3 0 64-28.7 64-64V178c0-4.4-3.6-8-8-8z"/></svg>
                </button>
                <button type="button" class="backspace" @click="deleteLastChar">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 512 512"><path d="M490.667 64h-357.59a21.333 21.333 0 0 0-17.848 9.647L3.485 244.314a21.334 21.334 0 0 0 0 23.372l111.744 170.667A21.333 21.333 0 0 0 133.077 448h357.589c11.782 0 21.333-9.551 21.333-21.333V85.333C512 73.551 502.449 64 490.667 64zm-21.334 341.333H144.609L46.833 256l97.776-149.333h324.725v298.666z"/><path d="M198.246 356.418c8.331 8.331 21.839 8.331 30.17 0l70.248-70.248 70.248 70.248c8.331 8.331 21.839 8.331 30.17 0s8.331-21.839 0-30.17L328.834 256l70.248-70.248c8.331-8.331 8.331-21.839 0-30.17s-21.839-8.331-30.17 0l-70.248 70.248-70.248-70.248c-8.331-8.331-21.839-8.331-30.17 0-8.331 8.331-8.331 21.839 0 30.17L268.495 256l-70.248 70.248c-8.332 8.332-8.332 21.839-.001 30.17z"/></svg>
                </button>
            </div>
        </div>
        <div class="game__bidded" v-if="showBiddedText">
            <span class="title">Ставка принята</span>
        </div>
        <GameModal v-if="secretText" :text="secretText" @close="closeModal"></GameModal>
    </div>
</template>
<script setup lang="ts">
import {computed, onMounted, onUnmounted, ref} from "vue";
import AuthService from "@/services/AuthService";
import GameModal from "@/components/Modals/GameModal.vue";
import EventApi from "@/api/EventApi";
const groupDifficulty = ref(0);
const playersAmount = ref(0);
const numpadIsAvailable = ref(false);
const showBiddedText = ref(false);
const numpadValues = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 0];
const inputValue = ref('');
const strength = ref(0);
const secretText = ref('');
let ws: WebSocket | null = null;

const personalDifficulty = computed(() => {
    return (groupDifficulty.value / playersAmount.value).toFixed(1);
});

const addValue = (value: number) => {
    inputValue.value += value;
};

const deleteLastChar = () => {
    inputValue.value = inputValue.value.slice(0, -1);
};


const parseMessage = (message: any) => {
    const data = JSON.parse(message);

    if (data.type === 'game_summary') {
        numpadIsAvailable.value = data.pinpad;
        strength.value = data.strength;
        groupDifficulty.value = data.difficulty;
        playersAmount.value = data.players;
        showBiddedText.value = data.bidded;
    }

    if (data.type === 'game_private') {
        secretText.value = data.text;
    }
}

const enterValue = () => {
    ws?.send(JSON.stringify({
        bid: inputValue.value
    }));
    inputValue.value = '';
};

const closeModal = () => {
    ws?.send(JSON.stringify({
        readed: true
    }));
    secretText.value = '';
}

const establishConnection = () => {
    ws = new WebSocket('ws://178.140.0.173/api/game');

    ws.onopen = () => {
        ws?.send(JSON.stringify({
            token: AuthService.getToken() ?? ''
        }));
    };

    ws.onmessage = (message) => parseMessage(message.data);
    ws.onerror = () => console.log('error');
    ws.onclose = () => ws = null;
};

const reconnect = () => {
    if (!ws) {
        establishConnection();
    }
};

const bindEvents = () => {
    EventApi.addEventListener(EventApi.SHOW_PAGE_TAB, reconnect);
};

const unbindEvents = () => {
    EventApi.removeEventListener(EventApi.SHOW_PAGE_TAB, reconnect);
};

onMounted(() => {
    establishConnection();
    bindEvents();
});

onUnmounted(() => {
    if (ws) {
        ws.close();
        ws = null;
    }
    unbindEvents();
})

</script>
<style lang="scss">
.game {
    padding: 20px 10px;

    .title {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }

    &__strength {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        .total {
            color: $green;
            font-size: 64px;
            line-height: 1;
            font-weight: 700;
        }
    }

    &__difficulty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        .title {
            margin-bottom: 20px;
        }
    }

    &__bidded {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;  
    }

    .difficulty-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .difficulty-item {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 24px;

            span {
                color: $red;
                font-weight: 700;
            }
        }
    }

    &__numpad {
        input {
            display: block;
            width: 160px;
            height: 50px;
            margin: 0 auto 10px;
            padding: 10px;
            border: 1px solid #000;
            border-radius: 5px;
            font-size: 24px;
            line-height: 1;
            font-weight: 700;
            text-align: center;
        }

        button {
            border: 0;
            background-color: transparent;
            outline: none;
        }

        .numbers {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
            width: 160px;
            margin: 0 auto;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 5px;
                border: 1px solid #000;
                font-size: 24px;
                line-height: 1;
                font-weight: 700;

                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            .enter,
            .backspace {
                position: absolute;
                bottom: 0;
            }

            .enter {
                right: 0;
            }

            .backspace {
                left: 0;
            }
        }
    }
}
</style>
