<template>
    <li class="birthday-item">
        <img class="birthday-item__bg birthday-item__bg--right" :src="imgBgRight" alt="">
        <img class="birthday-item__bg birthday-item__bg--left" :src="imgBgLeft" alt="">
        <div class="birthday-item__date">{{ item.day }}, {{ item.date }}</div>
        <div class="birthday-item__title">
            <b>
                <span>С Днем Рождения,</span>
                <follower :follower="item.follower" :lvlh="32"></follower>!
            </b>
        </div>
        <div class="birthday-item__emoji" :class="{disabled: item.subscribed}">
            <button type="button"
                    v-for="(emoticon, index) in emoji"
                    :key="emoticon.name"
                    @click="clickEmoji(index)">
                <span class="img">
                    <img :src="emoticon.url" :alt="emoticon.name">
                </span>
                <span v-if="item.emoticons">{{ item.emoticons[index] }}</span>
            </button>
        </div>
    </li>
</template>
<script setup lang="ts">
import type {TScheduleItem} from "@/types/schedule";
import {defineProps, defineEmits} from "vue";
import Follower from "@/components/Follower/Follower.vue";
import axiosInstance from "@/axios";
import {GetGlobalsPointer} from '@/stores/globals'	

const Globals = GetGlobalsPointer();

const props = defineProps<{
    item: TScheduleItem,
}>();

const emit = defineEmits(['update-list']);

const imgBgLeft = '/img/core/balloons_left.png';
const imgBgRight = '/img/core/balloons_right.png';

const emoji = [
    {
        name: 'emoji_1',
        url: '/img/core/emoticon0.png'
    },
    {
        name: 'emoji_2',
        url: '/img/core/emoticon1.png'
    },
    {
        name: 'emoji_3',
        url: '/img/core/emoticon2.png'
    }
];

const clickEmoji = (index: number): void => {
    axiosInstance.post(`/cheer`, {
        emoticon: index,
        follower: props.item.follower.id
    })
        .then(data => {
            const response = data.data;
            if (response) {
                emit('update-list', response.schedule);
            }
        });
};
</script>
<style lang="scss">
@import '@/assets/scss/birthday-item.scss';
</style>
