.achievement-item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-height: 140px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 40px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @media (max-width: 767px) {
        max-width: 100%;
        padding: 10px 15px;
        flex-wrap: wrap;
    }

    &__bg {
        position: absolute;
        top: 0;
        height: 100%;
        object-fit: contain;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        b {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .follower {
                display: inline-flex;
                align-items: center;
                flex-wrap: wrap;
                margin-right: 0;

                @media (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }

        * {
            margin-right: 5px;
        }
    }

    &__description {
        position: relative;
        z-index: 2;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;

        b {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 767px) {
                flex-wrap: wrap;
            }

            .follower {
                @media (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }

        * {
            margin-right: 5px;
        }
    }
}
