*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
    padding: 0;
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
}

button {
    padding: 0;
    border: none;
    background: none;
}

a {
    color: currentColor;
    font: inherit;
    background-color: transparent;
    outline: none;
}

h1 {
    font-size: 40px;
    line-height: 46px;

    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }
}

.btn {
    padding: 8px 14px;
    border: none;
    background-color: #00008b;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #00468b;
    }
}

.btn-disabled{
	padding: 6px 12px;
	background-color:#F2F2FF;
	border: 2px solid #00008b;
	font-size: 16px;
	line-height: 24px;
	color: #00008b;
	font-weight: 600;
	border-radius: 6px;
}

.q-layout {
    padding-top: 120px;

    @media (max-width: 767px) {
        padding-top: 84px;
    }
}

.card-item {
    padding: 24px 40px;
    border-radius: 12px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .5);
}

.techno-title {
    margin: 20px 0;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
    color: darkred;
}

