.birthday-item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-height: 200px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 40px;
    border-radius: 12px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    overflow: hidden;

    @media (max-width: 767px) {
        max-width: 100%;
        padding: 10px 15px;
        flex-wrap: wrap;
    }

    &__bg {
        position: absolute;
        top: 0;
        height: 100%;
        object-fit: contain;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__date {
        position: relative;
        z-index: 2;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    &__title {
        position: relative;
        z-index: 2;
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        b {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 767px) {
                flex-wrap: wrap;
            }

            .follower {
                @media (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }

        * {
            margin-right: 5px;
        }
    }

    &__emoji {
        position: relative;
        z-index: 2;
        display: flex;
        margin: 0 auto;

        button {
            display: flex;
            align-items: center;
            height: 60px;
            margin-right: 20px;
            padding: 10px;
            border: 0;
            background-color: transparentize(#000, 0.3);
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

            @media (max-width: 767px) {
                height: 40px;
                padding: 5px;
            }

            @media (hover) {
                &:hover {
                    background-color: transparentize(#000, 0.5);
                }
            }

            &:last-child {
                margin-right: 0;
            }

            .img {
                width: 40px;
                height: 40px;
                margin-right: 5px;

                @media (max-width: 767px) {
                    width: 30px;
                    height: 30px;
                }

                img {
                    object-fit: contain;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.disabled {
            opacity: 1 !important;

            button {
                cursor: default;
                pointer-events: none;
                background-color: #fff;
                border: 1px solid #ccc;
                color: #000;
            }
        }
    }
}
