.gallery {
    padding: 40px;

    @media (max-width: 767px) {
        padding: 20px;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 6px 2px rgb(0 0 0 / 50%);
        border-radius: 10px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100%;
        border: 1px solid #eee;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 6px 2px rgb(0 0 0 / 50%);

        &-wrapper {
            width: calc(20% - 20px);
            margin: 10px;

            @media (max-width: 767px) {
                width: calc(50% - 20px);
            }
        }

        &__title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            line-height: 32px;
            color: #000;
            text-align: center;

            svg {
                width: 80%;
                height: 80%;
            }
        }

        &__icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 50%;
                height: 50%;
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}