.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    padding: 0 80px;
    font-size: 40px;
    line-height: 1;
    color: #fff;
    background-color: #00008B;
    font-weight: 600;

    @media (max-width: 767px) {
        height: auto;
        padding: 10px 30px;
        font-size: 20px;
        text-align: center;
    }

    h1 {
        @media (max-width: 767px) {
            margin-bottom: 16px;
            max-width: 320px;
        }
    }

    &__menu-btn {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 0;
        margin: 0;

        @media (max-width: 767px) {
            right: 5px;
            width: 20px;
            height: 20px;
            border-radius: 3px;
        }

        svg {
            fill: #fff;
        }
    }

    .q-tabs {
        width: 100%;
    }
}
