.header-filters {
    width: 100vw;
    margin-left: calc(20vw / 2 * -1);
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 20px;
    position: sticky;
    top: 120px;
    display: flex;
    align-items: center;
    height: 100px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 2px 6px 2px rgb(0 0 0 / 50%);

    @media (max-width: 767px) {
        flex-wrap: wrap;
        top: 84px;
        height: auto;
        margin-left: -20px;
        padding: 10px 20px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;

        svg {
            width: 20px;
            height: 20px;
            fill: #fff;
        }
    }

    .q-field__native,
    .q-field__marginal {
        color: #fff;
        font-weight: 700;
    }

    .q-field__marginal {
        height: 40px;
    }

    .q-field--auto-height .q-field__native, .q-field__control {
        min-height: 40px;
    }
}