.menu {
    position: fixed;
    width: 200px;
    height: calc(100% - 120px);
    top: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background: #fff;
    color: #000;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);

    @media (max-width: 767px) {
        top: 84px;
        height: calc(100% - 84px);
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 28px;
        border-bottom: 1px solid transparent;
        cursor: pointer;

        svg {
            margin-left: 20px;
        }

        &.active {
            border-bottom: 1px solid #ccc;
            background: #eee;
        }

        &:last-child {
            margin-top: 60px;
            border-top: 1px solid #ccc;
        }
        @keyframes gift-shadow {
            0% {
                text-shadow: 0 0 2px #FFF, 0 0 6px #FFF , 0 0 10px #80FF80;
            }
            50% {
                text-shadow: 0 0 2px #FFF, 0 0 6px #FFF, 0 0 10px #00E000, 0 0 14px #80FF80;
            }
            100% {
                text-shadow: 0 0 2px #FFF, 0 0 6px #FFF, 0 0 10px #80FF80;
            }
        }
        &.animated {
            color: #000000;
            animation: gift-shadow 1s ease-in-out infinite;
        }
    }
}