.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    &__content {
        width: 600px;
        min-height: 200px;
        padding: 15px 20px;
        border-radius: 20px;
        background: #fff;

        iframe {
            width: 100%;
            min-height: 200px;
            border: 0;
        }
    }
}