.schedule-item {
    display: flex;
    max-width: 80%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 40px;
    border-radius: 12px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .5);

    @media (max-width: 767px) {
        max-width: 100%;
        padding: 15px;
        flex-wrap: wrap;
    }
    &__subscribed {
        margin-bottom: 10px;
    }

    &__info-desktop {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin-right: 60px;
        font-size: 18px;
        line-height: 24px;

        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 30px;
        }

        span {
            margin-bottom: 10px;

            &.title {
                font-size: 24px;
                line-height: 32px;
        	display: flex;
		align-items: center;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__info-mobile {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 24px;

        @media (max-width: 767px) {
            width: 100%;
        }
        .title {
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
        }

        .date {
            margin-bottom: 15px;
        }

        span {
            margin-bottom: 10px;
        }
        hr {
            margin: 0;
            &:last-child {
                margin-bottom: 0;
            }    
        }
    }

    &__players {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        margin-left: auto;
        font-size: 18px;
        line-height: 24px;
	.follower {
		margin-bottom: 10px;
	}
        @media (max-width: 767px) {
            margin-left: 0;
            width: 100%;
        }
        .btn, .btn-disabled {
            margin-top: auto;

            @media (max-width: 767px) {
                margin-top: 30px;
            }
        }
	p{
	    margin-bottom: 12px;
	}
    }

    @keyframes text-shadow {
        0% {
            text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px #FFF , 0 0 8px #b30707;
        }
        50% {
            text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px #FFF, 0 0 8px #b30707, 0 0 10px #b30707;
        }
        100% {
            text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px #FFF, 0 0 8px #b30707;
        }
    }

    &.rare {
        .title {
            color: #0E189E;
            text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 5px #b30707;
            animation: text-shadow 1s ease-in-out infinite;
        }
    }
}
