<template>
	<div class="achievement-rating-mobile">
		<div class="achievement-rating-title-mobile">
			<img :src="icon"/><b>{{name}}</b>
		</div>
		<div class="achievement-rating-header">
			<span style="width: 20%; border-right: 0px">
				Место
			</span>
			<span style="width: 60%">
				Пациент
			</span>
			<span style="width: 20%; border-left: 0px">
				%
			</span>
		</div>
		<q-linear-progress
			v-for="item in rating"
			size="38px"
			:value="item.progress/maximum"
			color="green"
			class="achievement-rating-progress-divided">
			<div class="absolute-full" width="100%">
				<div class="achievement-rating-progress-badge">
					<span class="achievement-rating-progress-text">
						{{item.progress?item.place:'~'}}
					</span>
					<follower :follower="item.follower" :lvlh="24" reduced/>
					<span class="achievement-rating-progress-text">
						{{item.progress}}%
					</span>
				</div>
			</div>
		</q-linear-progress>
		<button type="button" class="btn achievement-rating-back" @click="router.back()">Назад</button>
	</div>
</template>

<script setup lang="ts">
import {onMounted, ref} from 'vue';
import axiosInstance from '@/axios';
import Follower from '@/components/Follower/Follower.vue';
import type {Ref} from 'vue';
import type {Achievements} from '@/types/achievements';
import {useRouter, useRoute, type LocationQueryValue} from "vue-router";

const router = useRouter();
const route = useRoute();
const rating: Ref<Achievements.TRating | null> = ref(null);
let maximum: number;
let name: string;
let icon: string;

onMounted(() => {
	const params: Record<string, LocationQueryValue[] | string> = {};
	if(!route.query.achievement)
		return;
	params.achievement=route.query.achievement;
	axiosInstance.get('/achievement_rating',{params: params}).then(data => {
		if(!data.data.success)
			router.back();
		rating.value=data.data.rating;
		if(data.data.rating[0].progress)
			maximum=data.data.rating[0].progress;
		else
			maximum=1;
		name=data.data.name;
		icon=data.data.icon;
	});
});

</script>

<style lang="scss">
@import "@/assets/scss/modal.scss";
.achievement-rating-mobile{
	width: 100%;
}
.achievement-rating-back{
	width: 100%;
	margin-bottom: 5px;
	border-radius: 0px;
}
.achievement-rating-title-mobile{
	img{
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
	font-size: 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 15px;
}
.achievement-rating-header{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	font-size: 20px;
	span{
		border: 2px solid black;
		border-bottom: 0px;
	}
}
.achievement-rating-progress-divided{
	border: 2px solid black;
	border-bottom: 0px;
}
.achievement-rating-progress-badge{
	font-size: 24px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	span{
		font-size: 24px;
		color: black;
	}
}
.achievement-rating-progress-text
{
	text-align: center;
	width: 20%;
}
</style>