<template>
    <div class="achievements">
        <div class="achievements__title" v-if="player">
            Медицинская карта пациента<br> <follower :follower="player" :lvlh="36"></follower>
        </div>
        <ul class="achievements__list" v-if="achievements">
            <template v-for="(item, index) in achievements">
                <separator-item
                    v-if="item && isSeparator(item.type)"
                    :item="item">
                </separator-item>
                <achievement-item
                    v-if="item && isAchievement(item.type)"
                    :key="index"
                    :item="item">
                </achievement-item>
            </template>

        </ul>
    </div>
</template>
<script setup lang="ts">
import { onMounted, ref, type Ref } from "vue";
import axiosInstance from "@/axios";
import type { Achievements } from "@/types/achievements";
import AchievementItem from "@/components/Achievements/AchievementItem/AchievementItem.vue";
import SeparatorItem from "@/components/SeparatorItem/SeparatorItem.vue";
import {AchievementsTypesEnum} from "@/enums/AchievementsTypesEnum";
import Follower from "@/components/Follower/Follower.vue";
import type {TPlayer} from "@/types/schedule";
import {type LocationQueryValue, useRoute} from "vue-router";

let achievements: Ref<Array<Achievements.TAchievementItem> | null> = ref(null);
let player: Ref<null | TPlayer> = ref(null);

onMounted(() => {
    getAchievements();
});

const isSeparator = (type: number) => type === AchievementsTypesEnum.SEPARATOR;
const isAchievement = (type: number) => type === AchievementsTypesEnum.ACHIEVEMENT;

const route = useRoute();

const getAchievements = (): void => {
    const params: Record<string, LocationQueryValue[] | string> = {};
    if (route.query.key) {
        params.key = route.query.key;
    }
    axiosInstance.get(`/achievements`, {
        params: params
    })
     .then((data) => {
         const response = data.data;
         if (response.success) {
            achievements.value = response.achievements;
            player.value = response.follower;
         }
    });
};
</script>
<style lang="scss">
.achievements {
    padding: 40px;

    @media (max-width: 767px) {
        padding: 20px;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 36px;
        text-align: center;

        .follower {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
</style>
