<template>
    <div class="gallery" :key="route.fullPath">
        <div class="gallery__list" v-if="gallery">
            <div class="gallery-item-wrapper" v-if="hash" @click="goBack">
                <div class="gallery-item">
                    <div class="gallery-item__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 571.815 571.815"><path fill="#00008B" d="m117.518 296.042 333.161 272.132c8.286 6.646 12.062 3.941 8.43-6.04l-88.442-260.049c-3.63-9.981-3.596-26.156.076-36.123l88.29-256.26c3.672-9.966-.101-12.702-8.431-6.11L117.594 272.07c-8.329 6.591-8.363 17.325-.076 23.972z"/></svg>
                    </div>
                </div>
            </div>
            <template v-for="item in gallery">
                <div class="gallery-item-wrapper" v-if="item.type === 'folder'">
                    <div class="gallery-item" @click="goToDirectory(item.path)">
                        <div class="gallery-item__title">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 528.244 528.244"><path fill="#00008B" d="M528.242 83.013a8.17 8.17 0 0 0-8.172-8.17H245.057c-4.513 0-10.841-2.497-14.14-5.579l-29.581-27.638c-3.295-3.082-9.626-5.579-14.14-5.579H8.17A8.168 8.168 0 0 0 0 44.217V160.46a24.301 24.301 0 0 1 9.18-1.802h509.885c3.246 0 6.344.648 9.18 1.802V83.013h-.003zM9.18 492.196h509.885a9.18 9.18 0 0 0 9.18-9.181V183.136a9.18 9.18 0 0 0-9.18-9.18H9.18a9.18 9.18 0 0 0-9.18 9.18v299.88a9.18 9.18 0 0 0 9.18 9.18z"/></svg>
                            <span>{{ item.path }}</span>
                        </div>
                    </div>
                </div>
                <div class="gallery-item-wrapper" v-if="item.type === 'file'" @click="showGallery(item.path)">
                    <div class="gallery-item">
                        <img :src="getImgUrl(item)" alt="" loading="lazy">
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>
<script setup lang="ts">
import {computed, nextTick, onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import {GetGlobalsPointer} from "@/stores/globals";
import type {TGalleryImgItem} from "@/types/gallery";
import {useRoute, useRouter} from "vue-router";

type TGalleryItem = {
    type: 'folder' | 'file';
    path: string;
};

const Globals = GetGlobalsPointer();
const gallery: Ref<null | Array<TGalleryItem>> = ref(null);
const filteredGallery = computed<Array<TGalleryImgItem> | null>(() => {
    if (!gallery.value) {
        return null;
    }
    const filtered = gallery.value.filter((item) => item.type === 'file');
    return filtered.map((item, index) => {
        return {
            id: index,
            url: item.path,
        }
    });
});
const showGallery = (path: string) => {
    const activeSlideId = () => {
        return filteredGallery.value?.find((item) => item.url === path)?.id ?? 0;
    };
    Globals.setPhotoCarouselActiveSlide(activeSlideId());
    Globals.setPhotoCarouselImages(filteredGallery.value);
    Globals.showPhotoCarousel();
};

const router = useRouter();
const hash = ref('');
const goToDirectory = (item: string | null = null) => {
    if (item) {
        hash.value = hash.value ? hash.value + '/' + item.replace(' ', '%20') : item.replace(' ', '%20');
        router.replace(
            {
                name: 'gallery',
                hash: `#${hash.value}`,
            }
        );
    } else {
        hash.value = '';
        router.replace({ name: 'gallery' });
    }
    getGalleryData();
};

const goBack = () => {
    const lastIndex = hash.value.lastIndexOf('/');
    if (lastIndex === -1) {
        hash.value = '';
    } else {
        hash.value = hash.value.slice(0, lastIndex);
    }
    router.replace(
        {
            name: 'gallery',
            hash: `#${hash.value}`,
        }
    );
    console.log(hash.value);
    getGalleryData();
};

const route = useRoute();

const getImgUrl = (item: TGalleryItem) => {
    if (hash.value) {
        return `http://178.140.0.173/photo/${hash.value}/${item.path}`
    }
    return `http://178.140.0.173/photo/${item.path}`;
};
const getGalleryData = () => {
    const apiUrl = () => {
        if (hash.value) {
            return `/photo_dir?dir=${hash.value}`;
        }
        return `/photo_dir`;
    };

    axiosInstance.get(apiUrl())
        .then(data => {
            const response = data.data;
            if (response) {
                gallery.value = data.data.dir;
            }
        });
};

onMounted(() => {
    hash.value = route.hash.replace('#', '');
    getGalleryData();
});
</script>
<style lang="scss" scoped>
@import "@/assets/scss/gallery.scss";
</style>
