<template>
    <div class="allwishes">
        <div class="header-filters">
            <router-link to="wishlists" class="btn btn--back">
                <svg viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M31.866 29.046c.05-.336 1.109-8.41-3.639-13.966-2.917-3.414-7.418-5.283-13.23-5.468l-.031-5.613a1.001 1.001 0 0 0-1.632-.775L.367 13.866c-.232.19-.367.474-.368.774-.001.3.133.584.365.774l12.968 10.743a.998.998 0 0 0 1.634-.772l.031-5.739c14.009-.01 15.005 8.966 15.039 9.337.043.504.362.897.868.913l.034.001c.495 0 .854-.361.928-.851zM13.261 17.922a1 1 0 0 0-.294.708v4.638L2.578 14.646l10.389-8.542v4.493a1 1 0 0 0 1 1c5.69 0 10.037 1.648 12.735 4.776 2.029 2.354 2.962 5.235 3.281 7.626-2.184-2.984-6.008-6.363-16.015-6.369h-.002a.998.998 0 0 0-.705.292z"/></svg>
            </router-link>
        </div>
        <ul class="allwishes__list">
            <li v-for="(gift,element) in wishes" class="allwishes__item card-item">
                <follower :follower="gift.follower" :lvlh="24"/>
                <hr width="100%">
	        <span class="wishlist-item__new" v-if="gift.new">NEW</span>
                <div class="gift__name">{{ gift.name }}</div>
                <div class="gift__description" v-if="gift.description" v-html="computedDescription(element)"></div>
                <span class="gift__status" v-if="gift.captured">
                    <StatusOk :is-checked="true"></StatusOk>
                    Забронировано
                </span>
                <span class="gift__status" v-else :style="{'color': '#00E000'}">
                    <StatusOk :is-checked="false"></StatusOk>
                    Свободно
                </span>
                <button v-if="gift.captured" type="button" class="btn" @click="release(gift.follower.id,gift.id,element)">Отменить бронь</button>
                <button v-else type="button" class="btn" @click="capture(gift.follower.id,gift.id,element)">Забронировать</button>
            </li>
        </ul>
    </div>
</template>
<script setup lang="ts">
import {computed, onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import type {Wishlist} from "@/types/wishlists";
import Tools from "@/helpers/Tools";
import Follower from "@/components/Follower/Follower.vue";
import StatusOk from "@/components/Widgets/StatusOk.vue";

let wishes: Ref<Array<Wishlist.TGiftExtra>> = ref([]);

onMounted(() => {
    axiosInstance.get("/wishlists_all_actual").then((data) => {
        wishes.value=data.data.wishes;
    });
});

const computedDescription = (element:number): string => {return Tools.parseHtml(wishes.value[element].description.replace(/\n/g," <br>"))};

const capture = (list: number,id: number,element: number): void => {
    axiosInstance.post(`/wishlist_capture`,  {list,id}).then((data) => {
         if (data.data.success)
             wishes.value[element].captured=!wishes.value[element].captured;
    });
};

const release = (list: number,id: number,element: number): void => {
    axiosInstance.post(`/wishlist_release`,  {list,id}).then((data) => {
         if (data.data.success)
             wishes.value[element].captured=!wishes.value[element].captured;
    });
};

</script>
<style lang="scss">
.context-bar
{
    width:100%;
    position: sticky;
    padding-left: 10%;
    @media (max-width: 767px){
         padding-left: 10px;
    }
}
.allwishes
{
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    .follower,.gift__name,span{
        font-size: 24px;
    }
    .header-filters{
        margin-top: -20px;
        @media (max-width: 767px) {
	    margin-left: -3%;
        }
    }
    @media (max-width: 1199px) {
        width: 100%;
        padding: 10px;
    }
    &__list{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
	justify-content: space-between;

    }
    &__item{
        display: flex;
        width: calc((100% - 40px)/2);
        margin-bottom: 40px;
        padding: 15px 20px;
	flex-direction: column;
        @media (max-width: 1199px) {
            width: 100%;
            margin: 20px 0;
        }
    }
}
</style>
