<template>
    <whishlist-modal
        v-if="modalIsVisible && itemData"
        :is-adding="addingItem"
        :is-comment="addingComment"
        :is-edit="isEditMode"
        :edit-data="dataEdit"
        :own="itemData.own"
        @close="closeModal"
        @update="updateData">
    </whishlist-modal>
    <FrameModal
        v-if="helpIsVisible"
        :url="'http://178.140.0.173/help/wishlist.html'"
        @close="closeHelp">
    </FrameModal>
    <div class="wishlist-detailed">
        <div class="header-filters">
            <router-link to="wishlists" class="btn btn--back">
                <svg viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M31.866 29.046c.05-.336 1.109-8.41-3.639-13.966-2.917-3.414-7.418-5.283-13.23-5.468l-.031-5.613a1.001 1.001 0 0 0-1.632-.775L.367 13.866c-.232.19-.367.474-.368.774-.001.3.133.584.365.774l12.968 10.743a.998.998 0 0 0 1.634-.772l.031-5.739c14.009-.01 15.005 8.966 15.039 9.337.043.504.362.897.868.913l.034.001c.495 0 .854-.361.928-.851zM13.261 17.922a1 1 0 0 0-.294.708v4.638L2.578 14.646l10.389-8.542v4.493a1 1 0 0 0 1 1c5.69 0 10.037 1.648 12.735 4.776 2.029 2.354 2.962 5.235 3.281 7.626-2.184-2.984-6.008-6.363-16.015-6.369h-.002a.998.998 0 0 0-.705.292z"/></svg>
            </router-link>
            <button class="btn btn--gift" type="button" @click="showAddGiftModal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 464.628 464.628"><path d="M394.33 105.596h-76.136C341.138 83.224 355.41 52 355.41 17.5c0-9.665-7.835-17.5-17.5-17.5-44.786 0-84.057 24.045-105.596 59.9C210.775 24.045 171.504 0 126.719 0c-9.665 0-17.5 7.835-17.5 17.5 0 34.5 14.273 65.724 37.216 88.096H70.298c-9.665 0-17.5 7.835-17.5 17.5v324.033c0 9.665 7.835 17.5 17.5 17.5H394.33c9.665 0 17.5-7.835 17.5-17.5V123.096c0-9.665-7.835-17.5-17.5-17.5zm-17.5 162.016H249.814V140.596H376.83v127.016zM318.184 37.227c-7.525 32.765-33.378 58.618-66.144 66.143 7.526-32.766 33.379-58.619 66.144-66.143zm-105.596 66.142c-32.765-7.525-58.618-33.378-66.143-66.143 32.765 7.525 58.618 33.378 66.143 66.143zm2.226 37.227v127.016H87.798V140.596h127.016zM87.798 302.612h127.016v127.017H87.798V302.612zm162.016 127.016V302.612H376.83v127.017H249.814z"/></svg>
            </button>
            <button class="btn btn--comment" type="button" @click="showAddCommentModal">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 107.09"><path d="M63.08 0h.07C79.93.55 95 6.51 105.75 15.74c11 9.39 17.52 22.16 17.11 36.09a42.67 42.67 0 0 1-7.58 22.87A55 55 0 0 1 95.78 92a73.3 73.3 0 0 1-28.52 8.68 62.16 62.16 0 0 1-27-3.63L6.72 107.09 16.28 83A49.07 49.07 0 0 1 5.37 70 40.16 40.16 0 0 1 .24 45.55a44.84 44.84 0 0 1 9.7-23A55.62 55.62 0 0 1 26.19 8.83 67 67 0 0 1 43.75 2a74.32 74.32 0 0 1 19.32-2Zm24.18 42a7.78 7.78 0 1 1-7.77 7.78A7.78 7.78 0 0 1 87.26 42Zm-51.39 0a7.78 7.78 0 1 1-7.78 7.78A7.79 7.79 0 0 1 35.87 42Zm25.69 0a7.78 7.78 0 1 1-7.77 7.78A7.78 7.78 0 0 1 61.56 42Zm1.4-36h-.07a68.43 68.43 0 0 0-17.75 1.85 60.9 60.9 0 0 0-16 6.22 49.65 49.65 0 0 0-14.48 12.25 38.87 38.87 0 0 0-8.42 19.87A34.21 34.21 0 0 0 10.61 67a44.17 44.17 0 0 0 11.15 12.67l1.76 1.39-6.61 16.65 23.56-7.09 1 .38a56 56 0 0 0 25.32 3.6 67 67 0 0 0 26.16-8 49 49 0 0 0 17.35-15.24 36.86 36.86 0 0 0 6.54-19.67c.35-12-5.41-23.1-15-31.33C92.05 11.94 78.32 6.52 63 6.06Z"/></svg>
            </button>
            <button class="wishlist-detailed__filter btn" type="button" @click="changeFilter">
                {{ filter }}
            </button>
            <button class="btn btn--help" type="button" @click="showHelp">
                <svg class="svg-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M512 0C230.4 0 0 230.4 0 512s230.4 512 512 512 512-230.4 512-512S793.6 0 512 0zm0 960C262.4 960 64 761.6 64 512S262.4 64 512 64s448 198.4 448 448-198.4 448-448 448z"/><path d="M467.2 748.8h89.6v89.6h-89.6v-89.6ZM512 185.6c-57.6 0-108.8 12.8-140.8 44.8s-57.6 76.8-64 134.4l76.8 12.8c6.4-44.8 19.2-76.8 44.8-96 25.6-19.2 51.2-32 83.2-32s64 12.8 89.6 32c25.6 25.6 38.4 51.2 38.4 83.2 0 19.2-6.4 32-12.8 51.2-12.8 12.8-25.6 32-57.6 57.6-25.6 19.2-44.8 38.4-51.2 51.2-19.2 19.2-25.6 32-32 51.2-6.4 25.6-12.8 51.2-12.8 83.2v25.6h76.8c0-32 0-51.2 6.4-70.4s6.4-32 12.8-38.4c6.4-12.8 25.6-25.6 51.2-51.2 38.4-32 64-64 76.8-83.2s19.2-51.2 19.2-76.8c0-51.2-19.2-89.6-57.6-121.6-32-38.4-83.2-57.6-147.2-57.6z"/></svg>
            </button>
        </div>
        <div class="wishlist-detailed__title" v-if="itemData">
            Список маниакальных потребностей пациента<br> <follower :follower="itemData.owner" :lvlh="32"></follower>
        </div>
        <div class="wishlist-detailed__section" v-if="itemData">
            <template v-for="gift in gifts">
                <gift-item
                    :gift="gift"
                    :own="itemData.own"
                    :list="itemData.owner.id"
                    @delete="deleteItem"
                    @capture="captureItem"
                    @release="releaseItem"
                    @update="updateData"
                    @edit="editItem">
                </gift-item>
            </template>
            <extra-gifts-item v-if="itemData.hidden.text"
                :text="itemData.hidden.text"
                :is-new="itemData.hidden.new">
            </extra-gifts-item>
        </div>
        <div class="wishlist-detailed__section" v-if="itemData">
            <h2 v-if="itemData.comments.length">Комментарии</h2>
            <template v-for="comment in itemData.comments">
                <comment-item
                    :comment="comment"
                    @delete="deleteItem"
                    @edit="editItem">
                </comment-item>
            </template>
        </div>
    </div>
</template>
<script setup lang="ts">
import {computed, onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import type {Wishlist} from "@/types/wishlists";
import Follower from "@/components/Follower/Follower.vue";
import WhishlistModal from "@/components/Modals/WishlistModal.vue";
import {useRoute} from "vue-router";
import GiftItem from "@/components/Wishlist/GiftItem.vue";
import ExtraGiftsItem from "@/components/Wishlist/ExtraGiftsItem.vue";
import CommentItem from "@/components/Wishlist/CommentItem.vue";
import FrameModal from "@/components/Modals/FrameModal.vue";

let itemData: Ref<Wishlist.TItemDetailed | null> = ref(null);
const route = useRoute();
const wishlistId = route.query.list;
let dataEdit: Ref<null | Wishlist.TItemEdit> = ref(null);
let isEditMode = ref(false);
const filtered = ref(false);
const helpIsVisible = ref(false);

const showHelp = () => {
    helpIsVisible.value = true;
};

const closeHelp = () => {
    helpIsVisible.value = false;
};

const options = ['Все', 'Свободные'];
const filter = ref(options[0]);

onMounted(() => {
    if (wishlistId) {
        getData();
    }
});

const changeFilter = () => {
    if (filter.value === options[0]) {
        filter.value = options[1];
    } else {
        filter.value = options[0];
    }
};

const updateData = (data: Wishlist.TItemDetailed) => {
    itemData.value = data;
};

const gifts = computed(() => {
    if (!itemData.value) {
        return null;
    }

    if (filter.value === 'Свободные') {
        return itemData.value.gifts.filter((gift) => !gift.captured);
    } else {
        return itemData.value.gifts;
    }
});

const getData = (): void => {
    axiosInstance.get(`/wishlist_detailed`, {
        params: {
            list: wishlistId
        }
    })
     .then((data) => {
         const response = data.data;
         if (response.success) {
             itemData.value = response;
         }
    });
};

const deleteItem = (id: number): void => {
    axiosInstance.post(`/wishlist_remove`,  {
            list: wishlistId,
            id
        })
     .then((data) => {
         const response = data.data;
         if (response.success) {
             itemData.value = response;
         }
    });
};

const captureItem = (id: number): void => {
    axiosInstance.post(`/wishlist_capture`,  {
            list: wishlistId,
            id
        })
     .then((data) => {
         const response = data.data;
         if (response.success) {
             itemData.value = response;
         }
    });
};

const releaseItem = (id: number): void => {
    axiosInstance.post(`/wishlist_release`,  {
            list: wishlistId,
            id
        })
     .then((data) => {
         const response = data.data;
         if (response.success) {
             itemData.value = response;
         }
    });
};

const modalIsVisible = ref(false);
const addingItem = ref(false);
const addingComment = ref(false);

const editItem = (data: Wishlist.TItemEdit): void => {
    isEditMode.value = true;
    modalIsVisible.value = true;
    if (data.type === 'gift') {
        addingItem.value = true;
    }
    if (data.type === 'comment') {
        addingComment.value = true;
    }
    dataEdit.value = data;
};

const closeModal = () => {
    modalIsVisible.value = false;
    addingItem.value = false;
    addingComment.value = false;
    dataEdit.value = null;
    isEditMode.value = false;
};

const showAddGiftModal = () => {
    modalIsVisible.value = true;
    addingItem.value = true;
    addingComment.value = false;
};

const showAddCommentModal = () => {
    modalIsVisible.value = true;
    addingItem.value = false;
    addingComment.value = true;
};

</script>
<style lang="scss">
@import "@/assets/scss/header-filters";
@keyframes scaleUp {
    0% {
        transform: scale(1) translateY(-50%);
    }
    50% {
        transform: scale(1.3) translateY(-50%);
    }
    100% {
        transform: scale(1) translateY(-50%);
    }
}
.wishlist-detailed {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;

    @media (max-width: 767px) {
        width: 100%;
        padding: 20px;
    }

    .header-filters {
        margin-top: -20px;
    }

    .btn {
        margin-right: 20px;

        @media (max-width: 767px) {
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 105px !important;
        height: 40px;
        padding: 0 10px !important;
        margin-right: 20px;

        @media (max-width: 767px) {
            margin-right: 10px;
        }
    }

    &__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 36px;
        font-weight: 700;

        @media (max-width: 767px) {
            font-size: 24px;
            line-height: 32px;
            text-align: center;
        }
    }

    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        h2 {
            width: 100%;
            margin-bottom: 40px;
            font-size: 32px;
            line-height: 36px;
            font-weight: 700;
            text-align: center;

            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}
</style>
