<template>
    <div class="wishlist">
        <div class="header-filters">
            <router-link to="promises" class="btn btn--promise">
                К обещаниям
            </router-link>
            <router-link to="wishlists_all_actual" class="btn btn--promise">
                Все желания
            </router-link>
        </div>
        <ul class="wishlist__list" v-if="list">
            <li class="wishlist-item card-item" v-for="item in list" @click="goToDetailed(item.owner.id)">
                <div class="wishlist-item__captured" title="Подарки">
                    <img :src="giftPng" alt="">
                    <span>{{ item.captured }}</span>
                </div>
                <follower :follower="item.owner" :lvlh="32"></follower>
                <span class="wishlist-item__new" v-if="item.new">NEW</span>
            </li>
        </ul>
    </div>
</template>
<script setup lang="ts">
import {computed, onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import type { Wishlist } from "@/types/wishlists";
import Follower from "@/components/Follower/Follower.vue";
import {useRouter} from "vue-router";
import {GetGlobalsPointer} from '@/stores/globals'

const Globals = GetGlobalsPointer();
const giftPng = '/img/core/gift.png';

let list: Ref<Array<Wishlist.TItem> | null> = ref(null);

onMounted(() => {
    getList();
});

const getList = (): void => {
	axiosInstance.get(`/wishlists`)	
	.then((data) => {
		list.value = data.data.wishlists;
		if(data.data.reset_new)
		{
			Globals.MenuWishlistNew=false;
		}
	});
};

const router = useRouter();

const goToDetailed = (id: number) => {
    router.push({
        name: 'wishlist',
        query: {
            list: id
        }
    });
}
</script>
<style lang="scss">
@keyframes scaleUp {
    0% {
        transform: scale(1) translateY(-50%);
    }
    50% {
        transform: scale(1.3) translateY(-50%);
    }
    100% {
        transform: scale(1) translateY(-50%);
    }
}
.wishlist {
    width: 80%;
    margin: 0 auto;

    @media (max-width: 767px) {
        width: 100%;
        padding: 0 20px;
    }

    &__list {
        width: 100%;
    }

    .btn {
        &--promise {
            width: auto !important;
            padding: 0 10px !important;
            margin-left: 10px;
        }
	&--promise:first-child {
	    margin-left: 0px;
	}
    }

    &-item {
        display: flex;
        align-items: center;
        position: relative;
        margin: 20px 0;
        font-size: 24px;
        line-height: 32px;

        @media (max-width: 767px) {
            padding: 15px;
        }

        &__new {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            transform-origin: center;
            color: darkgreen;
            animation: scaleUp 0.5s ease-in-out infinite;
        }

        &__captured {
            position: relative;
            width: 40px;
            height: 40px;
            background: #ccc;
            margin-right: 40px;
            flex-shrink: 0;

            @media (max-width: 767px) {
                width: 32px;
                height: 32px;
                margin-right: 15px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            span {
                width: 32px;
                height: 32px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #fff;
            }
        }

        .follower {
            display: flex;
            flex-wrap: wrap;
            width: calc(100% - 47px);
            pointer-events: none;
        }
    }
}
</style>
