<template>
    <div class="menu">
        <template v-for="item in menuList">
            <router-link
                v-if="item.condition"
                :key="item.name"
                class="menu__item"
                active-class="active"
                :class="item.cssClass"
                :to="{ name: item.name }">
                {{ item.label }}
            </router-link>
        </template>
        <button type="button" class="menu__item" @click="logout">
            Выйти
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M7.09 12.59L8.5 14l5-5-5-5-1.41 1.41L9.67 8H0v2h9.67l-2.58 2.59zM16 0H2a2 2 0 00-2 2v4h2V2h14v14H2v-4H0v4a2 2 0 002 2h14a2 2 0 002-2V2a2 2 0 00-2-2z"/>
            </svg>
        </button>
    </div>
</template>
<script setup lang="ts">

import AuthService from "@/services/AuthService";
import {useRouter} from "vue-router";
import {defineEmits, ref} from "vue";
import {GetGlobalsPointer} from '@/stores/globals'

const Globals = GetGlobalsPointer();
const router = useRouter();
const emit = defineEmits(['close']);

const menuList = ref([
    {
        name: 'schedule',
        label: 'Расписание',
        cssClass: '',
        condition: true,
    },
    {
        name: 'breads',
        label: 'Рейтинги',
        cssClass: '',
        condition: true,
    },
    {
        name: 'achievements',
        label: 'Диагнозы',
        cssClass: '',
        condition: true,
    },
    {
        name: 'wishlists',
        label: 'Подарки',
        cssClass: Globals.MenuWishlistNew ? 'animated' : '',
        condition: true,
    },
    {
        name: 'quests',
        label: 'Квесты',
        cssClass: Globals.MenuQuestsNew ? 'animated' : '',
        condition: Globals.MenuQuests,
    },
    {
        name: 'tournament',
        label: 'Турнир',
        cssClass: Globals.MenuTournamentNew ? 'animated' : '',
        condition: Globals.MenuTournament,
    },
    {
        name: 'gallery',
        label: 'Галерея',
        cssClass: '',
        condition: true,
    },
    {
        name: 'rules',
        label: 'Правила',
        cssClass: '',
        condition: true,
    },
    {
        name: 'game',
        label: 'Игра',
        cssClass: '',
        condition: Globals.MenuGame,
    },
    {
        name: 'resources',
        label: 'Ресурсы',
        cssClass: '',
        condition: Globals.MenuResources,
    },
    {
        name: 'console',
        label: 'Консоль',
        cssClass: '',
        condition: Globals.MenuConsole,
    },
]);

const close = () => emit('close');

const logout = () => {
    AuthService.logOut();
    Globals.OnLogOut();
    router.push({name: 'authorization'});
    close();
};
</script>
<style lang="scss">
@import '@/assets/scss/menu.scss';
</style>
