<template>
    <div class="asylum">
        <div class="asylum__title">{{ ScopeTitle }}</div>
        <div class="asylum__description">{{ ScopeDescription }}</div>
        <div class="asylum__button" v-for="item in ScopeButtons" @click="PerformAction(item)">
<!--            <span :style="{ color: getTextColor(item.action) }">{{ item.text }}</span>-->
        </div>
        <div class="asylum__inventory">
<!--            <div class="asylum__inventory__key" v-for="item in Inventory" @click="PerformAction({action: 'exam', id: item.id})">
                {{ item.title }}
            </div>-->
            <div class="asylum__inventory__key" v-for="index in 4-Inventory.length"/>
        </div>
    </div>
</template>

<script setup lang="ts">
import {ref, onMounted, onUnmounted} from "vue";
import AuthService from "@/services/AuthService";
import EventApi from "@/api/EventApi";

type ScopedBtn = {
    action: string;
    title: string;
    id: number;
    text: string;
};

let ws: WebSocket | null = null;
const ScopeTitle=ref("");
const ScopeDescription=ref("");
const ScopeButtons=ref<ScopedBtn[]>([]);
const Inventory=ref([]);

const parseMessage = (message: any) => {
    const data = JSON.parse(message);
    console.log(data);
    switch(data.type)
    {
        case 'scope':
            ScopeTitle.value=data.title;
            ScopeDescription.value=data.description;
            ScopeButtons.value=data.buttons;
            break;
        case 'inventory':
            Inventory.value=data.inventory;
            break;
    }
};

const PerformAction = (item: any) => {
    switch(item.action)
    {
        case "move":
        case "pick":
        case "drop":
        case "exam":
            ws?.send(JSON.stringify({action: item.action, id: item.id}));
            break;
        case "back":
            ws?.send(JSON.stringify({action: "back"}));
            break;
    }
}

const getTextColor = (action: string): string =>
{
    switch(action)
    {
        case "move":
        case "back":
            return "#088008";
        case "none":
            return "#808080";
        case "pick":
            return "#B48200";
        case "drop":
            return "#D05000";
    }
    return "#000000";
}

const establishConnection = () => {
    ws = new WebSocket('ws://178.140.0.173:81/api/asylum');
    ws.onopen = () => {
        ws?.send(JSON.stringify({
            token: AuthService.getToken() ?? ''
        }));
    };
    ws.onmessage = (message) => parseMessage(message.data);
    ws.onerror = () => console.log('error');
    ws.onclose = () => ws = null;
};

const reconnect = () => {
    if (!ws) {
        establishConnection();
    }
};

onMounted(() => {
    establishConnection();
    EventApi.addEventListener(EventApi.SHOW_PAGE_TAB, reconnect);
});

onUnmounted(() => {
    if (ws) {
        ws.close();
        ws = null;
    }
    EventApi.removeEventListener(EventApi.SHOW_PAGE_TAB, reconnect);
})

</script>

<style lang="scss">
.asylum{
    width:40%;
    margin: 0px auto;
    @media(max-width:767px){
        width:100%;
    }
    &__title{
        font-size: 24px;
    }
    &__description{
        font-size: 18px;
    }
    &__button{
        font-size: 22px;
        margin-bottom: 3px;
        background: repeating-linear-gradient(0deg, #E0E0E0, #FFFFFF 30%, #FFFFFF 70%, #E0E0E0 100%);
        border-top-left-radius: 5px 50%;
        border-bottom-left-radius: 5px 50%;
        border-top-right-radius: 5px 50%;
        border-bottom-right-radius: 5px 50%;
        border-left: 2px solid #E0E0E0;
        border-right: 2px solid #E0E0E0;
        line-height: 40px;
        padding-left: 6px;
    }
    &__inventory{
        display: flex;
        justify-content: space-between;
        &__key{
            box-sizing: border-box;
            box-shadow: 0 2px 6px 2px #E0E0E0 inset;
            border-radius: 5px;
            aspect-ratio: 1 / 1;
            width: calc(25% - (9px / 4));
            @media(max-width:767px){
                width: calc(50% - (3px / 2));
            }
        }
    }
}
</style>
