<template>
    <ratings-menu selected="activity"/>
    <div class="common_rating_width common_rating_header">
        Рейтинг активности
    </div>
    <q-list v-if="activity" class="common_rating_width activity__list">
        <q-item
            v-for="item in activity"
            :key="item.follower.id"
            class="activity__list--item">
            <q-item-section class="activity__list--section">
                <follower :follower="item.follower" :lvlh="24"></follower>
                <span>{{ item.percent }}%</span>
            </q-item-section>
        </q-item>
    </q-list>
</template>

<script setup lang="ts">
import {onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import type {TPlayer} from "@/types/schedule";
import Follower from "@/components/Follower/Follower.vue";
import RatingsMenu from "@/components/Ratings/RatingsMenu.vue";

type TActivity = {
    percent: number,
    follower: TPlayer
}

let activity: Ref<Array<TActivity>> = ref([]);

onMounted(() => {
    getActivity();
});

const getActivity = (): void => {
    axiosInstance.get(`/activity`)
        .then(data => {
        const response = data.data;
        if (response && response.success) {
            activity.value = response.activity;
        }
    });
};
</script>
<style lang="scss">
    .activity {
        &__list {
            &--item {
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #eee;
                }
            }

            &--section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 18px;
                line-height: 24px;

                .follower {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
</style>
