<template>
    <ratings-menu selected="breads"/>
    <div class="common_rating_width common_rating_header">
        Рейтинг пряничного достатка
    </div>
    <q-list v-if="breads" class="common_rating_width breads__list">
        <q-item
            v-for="item in breads"
            :key="item.follower.id"
            class="breads__list--item">
            <q-item-section class="breads__list--section">
                <follower :follower="item.follower" :lvlh="24"></follower>
                <span>{{ item.amount }}</span>
            </q-item-section>
        </q-item>
    </q-list>
</template>

<script setup lang="ts">
import {onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import type {TPlayer} from "@/types/schedule";
import Follower from "@/components/Follower/Follower.vue";
import RatingsMenu from "@/components/Ratings/RatingsMenu.vue";

type TBreads = {
    amount: number,
    follower: TPlayer
}

let breads: Ref<Array<TBreads>> = ref([]);

onMounted(() => {
    getBreads();
});

const getBreads = (): void => {
    axiosInstance.get(`/breads`)
        .then(data => {
        const response = data.data;
        if (response && response.success) {
            breads.value = response.breads;
        }
    });
};
</script>
<style lang="scss">
    .breads {
	&__list{
            &--item {
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #eee;
                }
            }
            &--section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 18px;
                line-height: 24px;

                .follower {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
</style>
