<template>
    <ratings-menu selected="holiness"/>
    <div class="common_rating_width common_rating_header">
        Рейтинг Святости
    </div>
    <q-list v-if="holiness.length" class="common_rating_width holiness__list">
        <q-item
            v-for="item in holiness"
            :key="item.follower"
            class="holiness__list--item">
            <q-item-section class="holiness__list--section">
                <follower :follower="follower[item.follower]" :lvlh="24"/>
                <span>{{ item.amount }}</span>
            </q-item-section>
        </q-item>
    </q-list>
    <div class="common_rating_width common_rating_header" style="margin-top:20px">
        История Святости
    </div>
    <q-list v-if="history.length" class="common_rating_width holiness__history">
        <q-item
            v-for="item in history"
            :key="item.follower"
            class="holiness__list--item">
            <q-item-section class="holiness__history--section">
                <span>
                    <span :style="{color:follower[item.follower].color}">{{follower[item.follower].alias}}</span> {{ 0 < item.amount ? "получил":"потерял" }}{{ follower[item.follower].gender ? "" : "а" }}
                    {{item.amount}} Святости за {{item.hint}}
                </span>
 	    </q-item-section>
        </q-item>
    </q-list>
</template>

<script setup lang="ts">
import {onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import type {TPlayer} from "@/types/schedule";
import Follower from "@/components/Follower/Follower.vue";
import RatingsMenu from "@/components/Ratings/RatingsMenu.vue";

type THoliness = {
    follower: number,
    amount: number,
}

type THistory = {
    follower: number,
    amount: number,
    hint: string;
}

let follower: Array<TPlayer> = [];
let holiness: Ref<Array<THoliness>> = ref([]);
let history: Ref<Array<THistory>> = ref([]);

onMounted(() => {
    getHoliness();
});

const getHoliness = (): void => {
    axiosInstance.get(`/holiness`).then(data => {
        const response = data.data;
        if (response && response.success) {
            follower = response.follower;
            holiness.value = response.holiness;
            history.value = response.history;
        }
    });
};
</script>
<style lang="scss">
    .holiness {
        &__list {
            &--item {
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #eee;
                }
            }

            &--section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 18px;
                line-height: 24px;

                .follower {
                    display: flex;
                    align-items: center;
                }
            }
        }
        &__history--section{
            display: flex;
            flex-direction: row;
            align-content: center;
            font-size: 18px;
            line-height: 24px;
            justify-content: left;
        }
    }
</style>
