<template>
    <ratings-menu selected="tickets"/>
    <div class="common_rating_width common_rating_header">
        Рейтинг лотерейной удачи
    </div>
    <q-list v-if="tickets" class="common_rating_width tickets__list">
        <q-item
            v-for="item in tickets"
            :key="item.follower.id"
            class="tickets__list--item">
            <q-item-section class="tickets__list--section">
                <follower :follower="item.follower" :lvlh="24"></follower>
                <span>{{ item.amount }}</span>
            </q-item-section>
        </q-item>
    </q-list>
</template>

<script setup lang="ts">
import {onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import type {TPlayer} from "@/types/schedule";
import Follower from "@/components/Follower/Follower.vue";
import RatingsMenu from "@/components/Ratings/RatingsMenu.vue";

type TTickets = {
    amount: number,
    follower: TPlayer
}

let tickets: Ref<Array<TTickets>> = ref([]);

onMounted(() => {
    getTickets();
});

const getTickets = (): void => {
    axiosInstance.get(`/tickets`)
        .then(data => {
        const response = data.data;
        if (response && response.success) {
            tickets.value = response.tickets;
        }
    });
};
</script>
<style lang="scss">
    .tickets {
        &__list {
            &--item {
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #eee;
                }
            }

            &--section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 18px;
                line-height: 24px;

                .follower {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
</style>
