<template>
    <div class="modal" @click="closeModal">
        <div class="modal__content" @click.stop>
            <iframe :src="props.url"></iframe>
        </div>
    </div>
</template>
<script setup lang="ts">
import { defineEmits, defineProps } from 'vue';

const props = defineProps<{
    url: string,
}>();

const emit = defineEmits(['close']);

const closeModal = () => {
    emit('close');
};
</script>
<style lang="scss">
@import "@/assets/scss/modal.scss";
</style>
