<template>
    <div class="modal">
        <div class="modal__content">
            <div class="title">Это ваш секрет!</div>
            <div class="text">{{ text }}</div>
            <button type="button" class="btn" @click="closeModal">Прочитано</button>
        </div>
    </div>
</template>
<script setup lang="ts">
import { defineEmits, defineProps } from 'vue';

const props = defineProps<{
    text: string,
}>();

const emit = defineEmits(['close']);

const closeModal = () => {
    emit('close');
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/modal.scss";
.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .text {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
    }

    .btn {
        margin: auto auto 0;
    }
}
</style>
