<template>
    <div class="modal" @click="closeModal">
        <div class="modal__content" @click.stop>
            <q-form
                @submit.prevent="addHandler"
                class="q-gutter-md"
            >
                <template v-if="props.isAdding">
                    <q-input
                        v-model="name"
                        label="Название"
                        maxlength="191"
                    />
                    <q-input
                        v-model="description"
                        label="Описание"
                        maxlength="600"
                        :autogrow="true"
                        type="textarea"
                    />
                </template>
                <q-input
                    v-if="props.isComment"
                    v-model="comment"
                    label="Комментарий"
                    maxlength="600"
                    :autogrow="true"
                    type="textarea"
                />
                <div class="form-controls">
                    <q-btn :label="btnText" type="submit" color="primary"/>
                    <q-checkbox v-if="!props.own && props.isComment" v-model="isAnonymous" label="Анонимный вопрос"></q-checkbox>
                </div>
            </q-form>
        </div>
    </div>
</template>
<script setup lang="ts">
import {computed, defineEmits, defineProps, onMounted, type Ref, ref} from 'vue';
import axiosInstance from "@/axios";
import {useRoute} from "vue-router";
import type { Wishlist } from "@/types/wishlists";

const props = defineProps<{
    isAdding: boolean,
    isComment: boolean,
    isEdit: boolean,
    own: boolean,
    editData: Wishlist.TItemEdit | null
}>();

const emit = defineEmits(['close', 'update']);

onMounted(() => {
    if (props.isEdit) {
        if (props.isAdding) {
            name.value = props.editData?.name as string;
            description.value = props.editData?.description as string;
        }
        if (props.isComment) {
            comment.value = props.editData?.comment as string;
            isAnonymous.value = !props.editData?.author;
        }
    }
});

const name = ref('');
const description = ref('');
const comment = ref('');
const isAnonymous = ref(false);

const btnText = computed(() => props.isEdit ? 'Подтвердить' : 'Добавить');

const closeModal = () => {
    emit('close');
};

const route = useRoute();
const wishlistId = route.query.list;

const defaultParams: Wishlist.TAddItemRequest = {
    list: parseInt(wishlistId as string, 10)
}

let itemData: Ref<Wishlist.TItemDetailed | null> = ref(null);

const addHandler = () => {
    const params = Object.assign({}, defaultParams);

    if (props.isAdding) {
        params.name = name.value;
        params.description = description.value;
    }
    if (props.isComment) {
        params.comment = comment.value;
        params.anonymous = isAnonymous.value;
    }

    if (props.isEdit) {
        params.id = props.editData?.id ?? 0
    }

    const endpoint = props.isEdit ? '/wishlist_edit' : '/wishlist_add'

    axiosInstance.post(endpoint, params).then((data) => {
        const response = data.data;
        if (response.success) {
            itemData.value = response;
            emit('update', itemData.value);
        }
        emit('close');
    });
};
</script>
<style lang="scss">
@import "@/assets/scss/modal.scss";
.form-controls {
    display: flex;
    justify-content: space-between;
}
</style>
