<template>
    <div class="common_rating_selector">
        <button type="button"
            :class="(selected=='breads')?'btn-disabled':'btn'"
            @click="router.push({name: 'breads'})">
	    <svg class="common_rating_icon"
                :style="(selected=='breads')?'fill:#00008b;':''" 
                xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1024 1024"><path d="M634.92 443.15a463.08 463.08 0 0 1 51.94 2.91 185.22 185.22 0 0 0 1.26-21.66c0-138.2-153-250.23-341.74-250.23S4.66 286.2 4.66 424.4c0 125.12 125.4 228.79 289.19 247.3 15.03-128.05 161.98-228.55 341.07-228.55Z"/><path d="M1018.3 695.5a88.76 88.76 0 0 0-1.19-5c-9.76-62.41-51.76-120.51-118.29-163.63-66.32-43-150.36-66.64-236.62-66.64-92.91 0-180.34 26.5-246.18 74.63-32.22 23.55-57.55 51-75.28 81.67-18.47 31.92-27.84 65.86-27.84 100.88 0 53.13 19.47 106.17 53.43 145.6l.07.11.61.89a88.11 88.11 0 0 0 71.24 36.82A89 89 0 0 0 456 899l493.64-100a88.26 88.26 0 0 0 67.84-65 87 87 0 0 0 2.57-21 88.58 88.58 0 0 0-1.75-17.5Zm-592.08 56.68 493.68-100a63 63 0 0 1 12.38-1.18 61.7 61.7 0 0 1 58.84 42.79 63.53 63.53 0 0 1 1.81 6.9 62.43 62.43 0 0 1 1.23 12.31 60.83 60.83 0 0 1-1.81 14.77 62.25 62.25 0 0 1-47.85 45.87l-493.69 100a61.9 61.9 0 0 1-73-48.43 61.91 61.91 0 0 1 48.43-73Z"/><path d="M491.2 817.34a44.82 44.82 0 0 0 45.32 17.86l295-59.74a44.77 44.77 0 1 0-17.77-87.75l-295 59.75a44.78 44.78 0 0 0-27.55 69.88Z"/></svg>        	</button>
        <button type="button"
            :class="(selected=='holiness')?'btn-disabled':'btn'"
            @click="router.push({name: 'holiness'})">
            <svg class="common_rating_icon"
                :style="(selected=='holiness')?'fill:#00008b;':''" 
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><g data-name="Layer 1" style="isolation:isolate"><path d="M510 347.2c-260.87 0-472.35 76.86-472.35 171.68S249.15 690.56 510 690.56s472.36-76.86 472.36-171.68S770.89 347.2 510 347.2Zm0 284.51c-171.45 0-310.43-43.51-310.43-97.19s139-97.19 310.43-97.19 310.43 43.52 310.43 97.19S681.46 631.71 510 631.71Z"/><path d="M510 665.44c171.44 0 310.43-43.52 310.43-97.19 0-5.76-1.91-11.38-5-16.87C789.93 597 663.06 631.71 510 631.71S230.11 597 204.57 551.38c-3.07 5.49-5 11.11-5 16.87.02 53.67 139 97.19 310.43 97.19Z" style="opacity:.7;mix-blend-mode:multiply"/><path d="M510 380.92c245.21 0 446.73 67.92 470.05 154.82a64.82 64.82 0 0 0 2.29-16.86c0-94.82-211.47-171.68-472.34-171.68S37.67 424.06 37.67 518.88A64.83 64.83 0 0 0 40 535.74c23.28-86.9 224.8-154.82 470-154.82Z"/></g></svg>
        </button>
        <button type="button"
            :class="(selected=='activity')?'btn-disabled':'btn'"
            @click="router.push({name: 'activity'})">
            <svg class="common_rating_icon"
                :style="(selected=='activity')?'fill:#00008b;':''" 
                xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1024 1024"><path d="M646.39 36.77 495.56 220.22h301.65L646.39 36.77z"/><path d="M578.43 212.16h135.92v532.3H578.43zM414.48 996.49 565.3 813.05H263.65l150.83 183.44z"/><path d="M482.43 821.11H346.51v-532.3h135.92z"/></svg>
        </button>
        <button type="button"
            :class="(selected=='tickets')?'btn-disabled':'btn'"
            @click="router.push({name: 'tickets'})">
            <svg class="common_rating_icon"
                :style="(selected=='tickets')?'fill:#00008b;':''" 
                id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><title>ticketsm-01</title><path d="M879.8,625.27,302,859.21A185,185,0,0,0,169.1,803L93.52,616.38a184.74,184.74,0,0,0,56.26-132.91l577.81-234a185.21,185.21,0,0,0,132.95,56.34l75.51,186.55A184.71,184.71,0,0,0,879.8,625.27Z"/><path d="M1017.55,517.2l-117.42-290a115.54,115.54,0,0,1-150.41-63.73L68.52,439.36A115.53,115.53,0,0,1,4.85,589.79L122.21,879.73a115.53,115.53,0,0,1,150.41,63.73l681.2-275.85A115.54,115.54,0,0,1,1017.55,517.2ZM280.45,896.68A144,144,0,0,0,157.18,844.5l-15.05,1.22L44.35,604.39l11.7-9.57A144,144,0,0,0,108.3,471.58L107,456.51l632.6-256.12,9.57,11.7a143.86,143.86,0,0,0,123.2,52.15L887.47,263l97.75,241.39-11.7,9.57a143.8,143.8,0,0,0-52.18,123.27l1.22,15L290,908.38Z"/></svg>
        </button>
        <button type="button"
            :class="(selected=='illness')?'btn-disabled':'btn'"
            @click="router.push({name: 'illness'})">
            <svg class="common_rating_icon"
                :style="(selected=='illness')?'fill:#00008b;':''" 
                xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1024 1024"><path d="M999.32 421.08c24.82-131.55-61.71-258.32-193.27-283.14s-258.32 61.7-283.14 193.25 61.69 258.34 193.25 283.16 258.34-61.7 283.16-193.27Zm-425.63-31.54a47.91 47.91 0 1 1 17.76-94.16l357.09 67.37a47.92 47.92 0 0 1-17.77 94.17ZM415.53 303.8l105.09 175.94-367.36 219.41L48.17 523.21c-60.59-101.45-27.47-232.8 74-293.39 101.42-60.59 232.77-27.47 293.36 73.98Z"/><path d="m165.4 719.47 367.36-219.41L637.85 676c60.58 101.44 27.46 232.79-74 293.38-101.44 60.59-232.8 27.47-293.38-74Z"/></svg>
        </button>
        <button type="button" class="btn common_rating_button" @click="showHelp">
            <svg class="common_rating_icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M512 0C230.4 0 0 230.4 0 512s230.4 512 512 512 512-230.4 512-512S793.6 0 512 0zm0 960C262.4 960 64 761.6 64 512S262.4 64 512 64s448 198.4 448 448-198.4 448-448 448z"/><path d="M467.2 748.8h89.6v89.6h-89.6v-89.6ZM512 185.6c-57.6 0-108.8 12.8-140.8 44.8s-57.6 76.8-64 134.4l76.8 12.8c6.4-44.8 19.2-76.8 44.8-96 25.6-19.2 51.2-32 83.2-32s64 12.8 89.6 32c25.6 25.6 38.4 51.2 38.4 83.2 0 19.2-6.4 32-12.8 51.2-12.8 12.8-25.6 32-57.6 57.6-25.6 19.2-44.8 38.4-51.2 51.2-19.2 19.2-25.6 32-32 51.2-6.4 25.6-12.8 51.2-12.8 83.2v25.6h76.8c0-32 0-51.2 6.4-70.4s6.4-32 12.8-38.4c6.4-12.8 25.6-25.6 51.2-51.2 38.4-32 64-64 76.8-83.2s19.2-51.2 19.2-76.8c0-51.2-19.2-89.6-57.6-121.6-32-38.4-83.2-57.6-147.2-57.6z"/></svg>
        </button>
    </div>
    <div style="height:60px"/>
    <frame-modal
        v-if="helpIsVisible"
        :url="'http://178.140.0.173/help/ratings.html'"
        @close="closeHelp">
    </frame-modal>
</template>

<script setup lang="ts">
import {useRouter} from "vue-router";
import {defineProps, ref} from "vue";
import FrameModal from "@/components/Modals/FrameModal.vue";
const router = useRouter();
const props = defineProps<{
    selected:string;
}>();
const helpIsVisible = ref(false);
const showHelp = () => {
    helpIsVisible.value = true;
};

const closeHelp = () => {
    helpIsVisible.value = false;
};
</script>

<style lang="scss">
.common_rating_selector{
    width: 100vw;
    height: 60px;
    padding-top: 10px;
    padding-left: 20vw;
    position: fixed;
    background: #FFFFFF;
    z-index: 2;    
    box-shadow: 0 2px 6px 2px rgb(0 0 0 / 50%);
    button{
        margin-left: 10px;
    }
    @media (max-width: 767px){
        padding-left: 0px;
    }
}
.common_rating_header{
    font-size:30px;
    border-bottom:1px solid #ccc;
    display:flex;
    justify-content: center;
}
.common_rating_width{
    width: 60%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 100%;
    }
}
.common_rating_icon{
    width:24px;
    height:24px;
    margin:-6px;
    fill:white;
}
</style>