<template>
    <div class="comment card-item">
        <span class="wishlist-item__new" v-if="comment.new">NEW</span>
        <follower v-if="comment.author" :follower="comment.author" :lvlh="24"></follower>
        <span v-if="!comment.author">Анонимный вопрос</span>
        <hr />
        <div class="comment__name" v-html="computedComment"></div>
        <div class="comment__controls">
            <button v-if="comment.editable" class="btn" @click="deleteItem">Удалить</button>
            <button v-if="comment.editable" class="btn" @click="editItem">Редактировать</button>
        </div>
    </div>
</template>
<script setup lang="ts">
import {computed, defineEmits, defineProps} from "vue";
import type {Wishlist} from "@/types/wishlists";
import Follower from "@/components/Follower/Follower.vue";
import Tools from "@/helpers/Tools";

const props = defineProps<{
    comment: Wishlist.TComment,
}>();

const emit = defineEmits(['delete', 'edit']);

const computedComment = computed(() => Tools.parseHtml(props.comment.comment.replace(/\n/g," <br>")));

const deleteItem = () => {
    const agreeToDelete = confirm('Хорошо подумал?');
    if (agreeToDelete) {
        emit('delete', props.comment.id);
    }
}

const editItem = () => {
    emit('edit', {
        id: props.comment.id,
        type: 'comment',
        comment: props.comment.comment,
        author: props.comment.author,
    });
}
</script>
<style lang="scss">
.comment {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 2);
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: 767px) {
        width: 100%;
        padding: 15px;
    }

    .wishlist-item__new {
        top: 30px;
    }

    &__name {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 26px;

        a {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: blue;
            text-decoration: underline;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    .btn {
        width: 48%;
    }

    hr {
        border: 1px solid #000;
        width: 100%;
    }
}
</style>
