<template>
    <div class="card-item extra-gifts">
        <span class="wishlist-item__new" v-if="isNew">NEW</span>
        <div class="extra-gifts__name">{{text}}</div>
    </div>
</template>
<script setup lang="ts">
import {defineProps} from "vue";

const props = defineProps<{
    text: string,
    isNew: number,
}>();

</script>
<style lang="scss">
.extra-gifts {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 2);
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: 767px) {
        width: 100%;
        padding: 15px;
    }

    .wishlist-item__new {
        top: 30px;
    }

    &__name {
        margin-bottom: 15px;
        font-weight: 700;
    }
}
</style>
