<template>
    <div class="gift card-item">
        <span class="wishlist-item__new" v-if="gift.new">NEW</span>
        <div class="gift__name">{{ gift.name }}</div>
        <div class="gift__description" v-if="gift.description" v-html="computedDescription"></div>
        <span class="gift__status" v-if="gift.captured">
            <StatusOk :is-checked="true"></StatusOk>
            Забронировано
        </span>
        <span class="gift__status" v-if="!gift.captured && !gift.obsolete" :style="{'color': '#00E000'}">
            <StatusOk :is-checked="false"></StatusOk>
            Свободно
        </span>
        <span class="gift__status" v-if="!gift.captured && gift.obsolete" :style="{'color': '#E00000'}">
            <StatusOk :is-checked="false"></StatusOk>
            Свободно, но могло устареть
        </span>
        <div class="gift__controls" v-if="controlsIsVisible">
            <button v-if="gift.editable" class="btn" @click="deleteItem">Удалить</button>
            <button v-if="gift.editable && gift.obsolete" class="btn" @click="updateItem">Обновить</button>
            <button v-if="gift.editable && !gift.obsolete" class="btn" @click="editItem">Редактировать</button>
            <button v-if="!own && !gift.captured" class="btn" @click="captureItem" style="width:100%">Забронировать</button>
            <button v-if="gift.releaseable && !gift.editable" class="btn" @click="releaseItem" style="width:100%">Отменить бронь</button>
        </div>
    </div>
</template>
<script setup lang="ts">
import {computed, defineEmits, defineProps} from "vue";
import type {Wishlist} from "@/types/wishlists";
import Tools from "@/helpers/Tools";
import axiosInstance from "@/axios";
import StatusOk from "@/components/Widgets/StatusOk.vue";

const props = defineProps<{
    gift: Wishlist.TGift,
    own: boolean,
    list: number,
}>();

const emit = defineEmits(['delete', 'edit', 'capture', 'release', 'update']);

const computedDescription = computed(() => Tools.parseHtml(props.gift.description.replace(/\n/g," <br>")));

const controlsIsVisible = computed(() => {
    return props.gift.editable || (!props.own && !props.gift.captured) || (props.gift.releaseable && !props.gift.editable);
});

const deleteItem = () => {
    const agreeToDelete = confirm('Хорошо подумал?');
    if (agreeToDelete) {
        emit('delete', props.gift.id);
    }
}

const captureItem = () => {
    emit('capture', props.gift.id);
}

const releaseItem = () => {
    emit('release', props.gift.id);
}

const editItem = () => {
    emit('edit', {
        id: props.gift.id,
        type: 'gift',
        name: props.gift.name,
        description: props.gift.description,
    });
}

const updateItem = () => {
    axiosInstance.post('/wishlist_edit', {list: props.list, id: props.gift.id}).then((data) => {
        const response = data.data;
        if (response.success) {
            emit('update', response);
        }
    });
};
</script>
<style lang="scss">
.gift {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 2);
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: 767px) {
        width: 100%;
        padding: 15px;
    }

    .wishlist-item__new {
        top: 30px;
    }

    &__name {
        margin-bottom: 15px;
        font-weight: 700;
    }

    &__description {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 26px;

        a {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: blue;
            text-decoration: underline;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    &__status {
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .btn {
        width: 48%;
    }
}
</style>
