<template>
    <li class="schedule-item">
        <template v-if="Globals.IsMobile">
            <div class="schedule-item__info-mobile">
                <span class="title"><img :src="item.icon" v-if="item.icon" height="40"><b>{{ item.name }}</b></span>
                <span v-if="item.description">{{ item.description }}</span>
                <span v-if="item.day"><hr></span>
                <span v-if="item.day"><b>{{ item.day }}</b>, {{ item.date }}</span>
            </div>
        </template>
        <template v-else>
            <div class="schedule-item__info-desktop">
                <span class="title"><img :src="item.icon" v-if="item.icon" height="40"><b>{{ item.name }}</b></span>
                <span v-if="item.description">{{ item.description }}</span>
                <span v-if="item.day"><hr></span>
                <span v-if="item.day"><b>{{ item.day }}</b>, {{ item.date }}</span>
            </div>
        </template>
    </li>
</template>
<script setup lang="ts">
import type {TScheduleItem} from "@/types/schedule";
import {defineProps,computed} from "vue";
import {GetGlobalsPointer} from '@/stores/globals'	

const Globals = GetGlobalsPointer();

const props = defineProps<{
    item: TScheduleItem,
}>();
</script>
<style lang="scss">
@import '@/assets/scss/schedule-item.scss';
</style>
