<template>
	<div class="quests">
		<ul class="quests__list" v-if="quests">
			<li class="quests__item card-item" v-for="item in quests" :key="item.id">
				<span class="quests__title">{{item.title}}</span>
				<hr style="width:100%">
				<span class="quests__text"><b>Задача: </b>{{item.description}}</span>
				<span class="quests__text"><b>Актуально: </b>{{item.until}}</span>
				<span v-if="2!=item.subscribed" class="quests__text"><b>Награда: </b>{{PrintReward(item.id)}}</span>
				<button v-if="0==item.subscribed" type="button" class="btn" @click="PostCapture(item.id)">Принять квест</button>
				<button v-if="1==item.subscribed" type="button" class="btn" @click="PostRelease(item.id)">Оставить квест</button>
				<button v-if="3==item.subscribed" type="button" class="btn-disabled">Квест уже взят другим участником</button>
				<button v-if="4==item.subscribed" type="button" class="btn-disabled">Вы уже взяли максимум квестов</button>
				<button v-if="5==item.subscribed" type="button" class="btn-disabled">Вы взяли квест из той же группы</button>
				<div class="quests__reward" v-if="2==item.subscribed">
					<button type="button" v-if="'0'!=item.crumps[0]" class="btn" @click="PostReward(item.id,0)">{{item.crumps}}</button>
					<button type="button" v-if="'0'!=item.holiness[0]" class="btn" @click="PostReward(item.id,1)">{{item.holiness}}</button>
					<button type="button" v-if="'0'!=item.tickets[0]" class="btn" @click="PostReward(item.id,2)">{{item.tickets}}</button>
				</div>
			</li>
		</ul>
		<div v-if="!quests">
			В настоящий момент нет свободных квестов.
		</div>
	</div>
</template>

<script setup lang="ts">
import axiosInstance from "@/axios";
import {onMounted, type Ref, ref} from "vue";
import type {TQuestItem} from "@/types/quests";
import {GetGlobalsPointer} from "@/stores/globals";

const Globals = GetGlobalsPointer();
const quests: Ref<Array<TQuestItem>> = ref([]);

onMounted(() => {
	axiosInstance.get(`/quests`).then(data => {
		quests.value = data.data.quests;
		Globals.MenuQuestsNew=false;
     	});
});

const PostCapture = (quest: number) => {
	axiosInstance.post('/quest_capture',{quest:quest}).then(data => {
		quests.value = data.data.quests;
	});
};

const PostRelease = (quest: number) => {
	axiosInstance.post('/quest_release',{quest:quest}).then(data => {
		quests.value = data.data.quests;
	});
};

const PostReward = (quest: number, option: number) => {
	axiosInstance.post('/quest_reward',{quest:quest, option:option}).then(data => {
		quests.value = data.data.quests;
	});
};

const PrintReward = (quest: number): string => {
	let Reward="";
	if('0'!=quests.value[quest].crumps[0])
		Reward=quests.value[quest].crumps;
	if('0'!=quests.value[quest].holiness[0])
	{
		if(Reward)
			Reward=Reward.concat(" или ");
		Reward=Reward.concat(quests.value[quest].holiness);
	}
	if('0'!=quests.value[quest].tickets[0])
	{
		if(Reward)
			Reward=Reward.concat(" или ");
		Reward=Reward.concat(quests.value[quest].tickets);
	}
	return Reward;
};

</script>

<style lang="scss">
.quests{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	@media(max-width:767px){
		width: 100%;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		padding-left: 10px;
		padding-right: 10px;
	}
	&__item{
		width: 45%;
		margin: 20px;
		padding: 20px 30px;
		display: grid;
		@media(max-width: 1199px){
			width: 100%;
			margin: 20px 0;
		}
	}
	&__title{
		font-size:24px;
		font-weight:700;
	}
	&__text{
		font-size:18px;
		margin-bottom:8px;
	}
	&__reward{
		display:flex;
		justify-content:space-between;
		align-items:flex-end;
		button{
			flex-grow:1;
			margin-right:10px;
		}
		button:last-child{
			margin-right:0px;
		}
	}
}

</style>

