<template>
    <div class="carousel-widget" @click="close">
        <q-carousel
                swipeable
                animated
                arrows
                v-model="slide"
                v-model:fullscreen="fullscreen"
                infinite
                @click.stop.prevent
        >
            <q-carousel-slide v-for="img in images" :name="img.id" :img-src="getUrl(img)" />

            <template v-slot:control>
                <q-carousel-control
                        position="bottom-right"
                        :offset="[18, 18]"
                >
                    <q-btn
                            push round dense color="white" text-color="primary"
                            :icon="fullscreen ? 'fullscreen_exit' : 'fullscreen'"
                            @click="fullscreen = !fullscreen"
                    />
                </q-carousel-control>
            </template>
        </q-carousel>
    </div>
</template>
<script setup lang="ts">
import {computed, onMounted, ref} from "vue";
import {GetGlobalsPointer} from "@/stores/globals";
import type {TGalleryImgItem} from "@/types/gallery";
import {useRoute} from "vue-router";

const fullscreen = ref(false);
const slide = ref(1);

const Globals = GetGlobalsPointer();
const images = computed(() => Globals.getCarouselImages);

const route = useRoute();
const hash = computed(() => (route.hash).replace('#', ''));

const getUrl = (img: TGalleryImgItem) => {
    if (hash.value) {
        return `http://178.140.0.173/photo/${hash.value}/${img.url}`;
    }
    return `http://178.140.0.173/photo/${img.url}`;
};

const close = () => {
    Globals.setPhotoCarouselActiveSlide(0);
    Globals.setPhotoCarouselImages(null);
    Globals.hidePhotoCarousel();
};

onMounted(() => {
    slide.value = Globals.getPhotoCarouselActiveSlide;
});
</script>
<style lang="scss">
.carousel-widget {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparentize(#000, 0.5);
    z-index: 5000;

    .q-carousel {
        width: 60%;
        height: 80%;

        &__slide {
            background-color: #000;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        @media (max-width: 1199px) {
            width: 100%;
            height: 400px;
        }
    }
}
</style>
