<template>
    <div
        class="status-ok"
        :class="{ checked: isChecked }"
    >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
            <path d="M1.36,17.427c0,0,7.311-0.122,10.844,8.163c0,0,15.474-22.175,31.435-18.885c0,0-17.789,7.067-32.045,31.922L1.36,17.427z"/>
        </svg>
    </div>
</template>
<script setup lang="ts">
    import {defineProps} from "vue";

    const props = defineProps<{
        isChecked: boolean;
    }>();
</script>
<style lang="scss">
.status-ok {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 20px;
    border: 1px solid #000;
    border-radius: 6px;

    @media (max-width: 767px) {
        width: 25px;
        height: 25px;
        margin-right: 6px;
    }

    svg {
        display: none;
        width: 30px;
        height: 30px;
        fill: $green;;
    }

    &.checked {
        svg {
            display: block;
        }
    }
}
</style>
