<template>
    <li v-if="item.show && item.catchable" class="catch-me-item">
        <div class="catch-me-item__title">
            Блуждающий Пряник
        </div>
        <button type="button" class="btn" @click="catchMe">Поймать!</button>
    </li>
    <li v-if="item.show && !item.catchable" class="catch-me-item">
        <div class="catch-me-item__title">
            Блуждающий Пряник был пойман менее часа назад
        </div>
    </li>
</template>
<script setup lang="ts">
import {defineProps, defineEmits} from "vue";
import axiosInstance from "@/axios";

const props = defineProps<{
    item: {
        catchable: boolean,
        show: number,
    },
}>();

const emit = defineEmits(['update-list'])
const catchMe = (): void => {
    axiosInstance.post(`/gotcha`, {})
        .then(data => {
            const response = data.data;
            if (response) {
                emit('update-list', response.schedule);
            }
        });
};
</script>
<style lang="scss">
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.catch-me-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    min-height: 200px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 40px;
    border-radius: 12px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 767px) {
        max-width: 100%;
        padding: 10px 15px;
        flex-wrap: wrap;
    }

    &__title {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }

    .btn {
        padding: 12px 24px;
        font-size: 20px;
        transform-origin: center;
        animation: zoom 1s ease-in-out infinite;
    }
}
</style>
