<template>
    <div class="promises">
        <div class="header-filters">
            <router-link to="wishlists" class="btn btn--back">
                <svg viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M31.866 29.046c.05-.336 1.109-8.41-3.639-13.966-2.917-3.414-7.418-5.283-13.23-5.468l-.031-5.613a1.001 1.001 0 0 0-1.632-.775L.367 13.866c-.232.19-.367.474-.368.774-.001.3.133.584.365.774l12.968 10.743a.998.998 0 0 0 1.634-.772l.031-5.739c14.009-.01 15.005 8.966 15.039 9.337.043.504.362.897.868.913l.034.001c.495 0 .854-.361.928-.851zM13.261 17.922a1 1 0 0 0-.294.708v4.638L2.578 14.646l10.389-8.542v4.493a1 1 0 0 0 1 1c5.69 0 10.037 1.648 12.735 4.776 2.029 2.354 2.962 5.235 3.281 7.626-2.184-2.984-6.008-6.363-16.015-6.369h-.002a.998.998 0 0 0-.705.292z"/></svg>
            </router-link>
        </div>
        <ul class="promises__list" v-if="listItems">
            <li class="promises-item card-item" v-for="item in listItems">
                <div class="promises-item__name">{{ item.name }}</div>
                <follower :follower="item.to" :lvlh="32"></follower>
                <div class="promises-item__progress">
                    <StatusOk v-for="(status, index) in statuses"
                              :key="item.id"
                              :is-checked="item.state >= index + 1">
                    </StatusOk>
                    {{ stateName(item.state) }}
                </div>
                <div class="promises-item__controls">
                    <button type="button" class="btn btn--prev" @click="changeState('prev', item)">{{ prevControlName(item.state) }}</button>
                    <button type="button" class="btn btn--next" @click="changeState('next', item)" v-if="item.state !== 4">{{ nextControlName(item.state) }}</button>
                </div>
            </li>
        </ul>
    </div>
</template>
<script setup lang="ts">
import {onMounted, ref, type Ref} from "vue";
import axiosInstance from "@/axios";
import type {Wishlist} from "@/types/wishlists";
import Follower from "@/components/Follower/Follower.vue";
import {useRouter} from "vue-router";
import {PromiseActionNextText, PromiseActionPrevText, PromiseState, PromiseStateText} from "@/enums/PromiseStateEnum";
import StatusOk from "@/components/Widgets/StatusOk.vue";

let listItems: Ref<Array<Wishlist.TPromiseItem> | null> = ref(null);

onMounted(() => {
    getList();
});

const statuses = [
    {
        icon: '1'
    },
    {
        icon: '2'
    },
    {
        icon: '3'
    },
    {
        icon: '4'
    },
];

const getList = (): void => {
    axiosInstance.get(`/wishlist_promises`)
     .then((data) => {
         const response = data.data;
         if (response.success) {
             listItems.value = response.promises;
         }
    });
};

const stateName = (state: PromiseState): PromiseStateText => {
    switch (state) {
        case PromiseState.BOOKED:
            return PromiseStateText.BOOKED;
        case PromiseState.BOUGHT:
            return PromiseStateText.BOUGHT;
        case PromiseState.PACKED:
            return PromiseStateText.PACKED;
        case PromiseState.GIFTED:
            return PromiseStateText.GIFTED;
    }
    return PromiseStateText.BOOKED;
};

const prevControlName = (state: PromiseState): PromiseActionPrevText => {
    switch (state) {
        case PromiseState.BOOKED:
            return PromiseActionPrevText.CANCEL;
        case PromiseState.BOUGHT:
            return PromiseActionPrevText.BOOK;
        case PromiseState.PACKED:
            return PromiseActionPrevText.BUY;
        case PromiseState.GIFTED:
            return PromiseActionPrevText.PACK;
    }
    return PromiseActionPrevText.CANCEL;
};

const nextControlName = (state: PromiseState): PromiseActionNextText => {
    switch (state) {
        case PromiseState.BOOKED:
            return PromiseActionNextText.BUY;
        case PromiseState.BOUGHT:
            return PromiseActionNextText.PACK;
        case PromiseState.PACKED:
            return PromiseActionNextText.GIFTED;
    }
    return PromiseActionNextText.BUY;
};

const changeState = (dir: string, item: Wishlist.TPromiseItem) => {
    const state = dir === 'next' ? item.state + 1 : item.state - 1;
    const list = item.to.id;
    const id = item.id;

    axiosInstance.post(`/wishlist_gift_state`, {list, state, id})
        .then((data) => {
            const response = data.data;
            if (response.success) {
                listItems.value = response.promises;
            }
        });
};

const router = useRouter();

</script>
<style lang="scss">
@keyframes scaleUp {
    0% {
        transform: scale(1) translateY(-50%);
    }
    50% {
        transform: scale(1.3) translateY(-50%);
    }
    100% {
        transform: scale(1) translateY(-50%);
    }
}
.promises {
    width: 80%;
    margin: 0 auto;

    @media (max-width: 767px) {
        width: 100%;
        padding: 0 20px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &-item {
        display: flex;
        flex-direction: column;
        width: calc((100% - 40px) / 2);
        margin-bottom: 40px;
        position: relative;
        font-size: 24px;
        line-height: 32px;

        @media (max-width: 767px) {
            width: 100%;
            padding: 15px;
        }

        &__name {
            margin-bottom: 20px;
            font-weight: 700;
        }

        &__progress {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        &__controls {
            display: flex;
            align-items: center;

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48%;
                height: 40px;
                padding: 0 10px;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .follower {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 20px;
            pointer-events: none;
        }
    }
}
</style>
