<template>
	<div class="console">
		<q-input
			class="console__input"
			v-model="query"
			outlined
			square/>
		<q-btn
			@click="execute"
			class="console__enter"
			flat>
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 1024 1024" color="#FFFFFF"><path d="M864 170h-60c-4.4 0-8 3.6-8 8v518H310v-73c0-6.7-7.8-10.5-13-6.3l-141.9 112a8 8 0 0 0 0 12.6l141.9 112c5.3 4.2 13 .4 13-6.3v-75h498c35.3 0 64-28.7 64-64V178c0-4.4-3.6-8-8-8z"/></svg>
		</q-btn>
	</div>
	<div class="console">
		<q-input
			class="console__log"
			v-model="log"
			type="textarea"
			readonly
			outlined
			square/>
	</div>
</template>

<script setup lang="ts">
import axiosInstance from "@/axios";
import {ref} from "vue";

const query = ref('');
const log = ref('');

const execute = () => {
	if(!query.value.length)
		return;
	axiosInstance.post('/console',{query: query.value}).then(data => {
		log.value=data.data.log.concat('\r\n').concat(log.value);
	});
	query.value='';
};

</script>

<style lang="scss">
.console {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: nowrap;
	width: 80%;
        @media (max-width: 767px) {
        	padding-left: 15px;
		padding-right: 15px;
        	width: 100%;
        }
	&__input {
		height: 56px;
		flex: auto;
		font-size: 22px;
	}
	&__log {
		.q-field__control {
			height: 666px;
		}
		flex: auto;
		font-size: 18px;
	}
	&__enter {
		height: 56px;
		width: 56px;
		background-color: #00008B;	
		color: #FFFFFF;
		border-radius: 0px;
	}
}
</style>
