<template>
    <div class="rules">
        <ul v-if="rules">
            <li class="rules__item card-item" :class="selected==item.group?'rules__selected':''" v-for="item in rules">
                <span class="rules__title" :id="item.group.toString()">
                    {{item.title}}
                </span>
                <template v-for="subitem in item.entry">
                    <hr class="rules__hr">
                    <span class="rules__entry">
			<a :href="subitem.rules">{{subitem.title}}</a>
	                <a v-if="subitem.patch" :href="subitem.patch" style="color:#FF0000"> [Изменения]</a>
                    </span>
                </template>
            </li>
        </ul>
    </div>
</template>

<script setup lang="ts">
import {onMounted, ref, type Ref, nextTick} from "vue";
import axiosInstance from "@/axios";
import {useRouter} from "vue-router";

type TRulesEntry = {
    title: string;
    rules: string;
    patch: string;
}

type TRulesGroup = {
    title: string;
    group: number;
    entry: Array<TRulesEntry>;
}

const router = useRouter();

let selected: number = 0;
let rules: Ref<Array<TRulesGroup>> = ref([]);

const sorter = (a: TRulesGroup, b: TRulesGroup): number => {
    if(a.title > b.title)
        return 1;
    return -1;
};

onMounted(() => {
    axiosInstance.get(`/rules`).then((data) => {
        let hash:string=window.location.hash.slice(1);
        rules.value=data.data.group.toSorted(sorter);
	selected=Number(hash);
        nextTick(() => {
            document.getElementById(hash)?.scrollIntoView({block: "center"});  
        });
    });
});

</script>

<style lang="scss">
.rules{
    width:80%;
    margin: 0 auto;
    @media(max-width:767px){
        width:100%;
    }
    &__title{
        font-size: 24px;
        font-weight: 600;
    }
    &__entry{
        font-size: 18px;
    }
    &__hr{
        width: calc(100% + 24px);
        margin-left: -12px;
	height: 0px;
        border: 0px;
        border-bottom: 2px solid #bbb;
    }
    &__item{
        margin:10px;
        padding:14px 12px;
        display: flex;
        flex-direction: column;
    }
    @keyframes selected-group-blink
    {
        0%{background-color: #88FFDCFF;}
        50%{background-color: #88FFDC00;}
        100%{background-color: #88FFDCFF;}
    }
    &__selected{
        animation: selected-group-blink 2s ease-in-out infinite;
    }
}
</style>
