<template>
	<div class="tournament">
		<div v-if="'none' == Phase" class="tournament__title">
			В настоящий момент турниры не ведутся.
		</div>
		<div v-else class="tournament__title">
			{{Title}}
		</div>
		<div v-if="'round' == Phase">
			<div v-if="Globals.IsMobile">
				<table>
					<tr>
						<td><b>Участник</b></td>
						<td><b>Счёт</b></td>
					</tr>
					<tr v-for="(item, outer) in Table">
						<td><follower :follower=item.follower :lvlh="24" reduced/></td>
						<td width="25%">{{item.points}}</td>
					</tr>
				</table>
				<table v-if="Line!=Table.length">
					<tr>
						<td><b>Противник</b></td>
						<td><b>Счёт</b></td>
					</tr>
					<tr v-for="index in Pairings()">
						<td><follower :follower=Table[index].follower :lvlh="24" reduced/></td>
						<td width="25%">{{Score(Line,index)}}</td>
					</tr>
				</table>
			</div>
			<div v-else>
				<table>
					<tr>
						<td><b>Участник</b></td>
						<td><b>#</b></td>
						<td v-for="index in Table.length"><b>{{index}}</b></td>
						<td><b>Счёт</b></td>
					</tr>
					<tr v-for="(item, outer) in Table">
						<td><follower :follower=item.follower :lvlh="24"/></td>
						<td><b>{{outer+1}}</b></td>
						<td v-for="inner in outer">{{item.versus[inner-1]}}</td>
						<td class="gray"></td>
						<td v-for="inner in remaining(outer)">{{item.versus[outer+inner-1]}}</td>
						<td>{{item.points}}</td>
					</tr>
				</table>
			</div>
			<table>
				<tr><td>
					Круговой этап турнира закончится {{Until}}.
				</td></tr>
				<tr><td>
					На партию требуется примерно {{Time}}.
				</td></tr>
				<tr><td>
					Призовой фонд турнира составляет {{Funds}} крош{{EndingText[EndingTransform[Funds%100]]}}.
				</td></tr>
			</table>
		</div>
		<div v-if="'final' == Phase">
			<table>
				<tr>
					<td>Претендент</td>
				</tr>
				<tr v-for="follower in Table">
					<td>
						<follower v-if="Globals.IsMobile" :follower=follower :lvlh="24" reduced/>
						<follower v-else :follower=follower :lvlh="24" />
					</td>
				</tr>
			</table>
			<table>
				<tr><td>
					На партию требуется примерно {{Time}}.
				</td></tr>
				<tr><td>
					Призовой фонд турнира составляет {{Funds}} крош{{EndingText[EndingTransform[Funds%100]]}}.
				</td></tr>
			</table>
		</div>
		<div v-if="'ended' == Phase">
			<table>
				<tr>
					<td>Участник</td>
					<td>Приз</td>
				</tr>
				<tr v-for="item in Table">
					<td>
						<follower v-if="Globals.IsMobile" :follower="item.follower" :lvlh="24" reduced/>
						<follower v-else :follower="item.follower" :lvlh="24" />
					</td>
					<td>
						{{item.amount}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script setup lang="ts">
import axiosInstance from "@/axios";
import {onMounted,ref} from "vue";
import Follower from "@/components/Follower/Follower.vue"
import {GetGlobalsPointer} from '@/stores/globals'

const Globals = GetGlobalsPointer();
const EndingTransform = [2,0,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,1,1,1,2,2,2,2,2,2,0,1,1,1,2,2,2,2,2,2,0,1,1,1,2,2,2,2,2,2,0,1,1,1,2,2,2,2,2,2,0,1,1,1,2,2,2,2,2,2,0,1,1,1,2,2,2,2,2,2,0,1,1,1,2,2,2,2,2,2,0,1,1,1,2,2,2,2,2];
const EndingText = ["ку","ки","ек"];
const Phase = ref("");
let Title : string;
let Table : any[];
let Line : number;
let Funds : number;
let Time : string;
let Until : string;

onMounted(() => {
	axiosInstance.get(`/tournament`).then(data => {
		switch(data.data.phase) {
		case "round":
                	Title = data.data.name;
               		Table = data.data.participants;
                	Line = data.data.line;
			Until = data.data.until;
			Time = data.data.time;
			Funds = data.data.funds;
                	break;
           	case "final":
                	Title = data.data.name;
                	Table = data.data.pretenders;
                	Time = data.data.time;
                	Funds = data.data.funds;
                	break;
            	case "ended":
                	Title = data.data.name;
			Table = data.data.awardees;
                	break;
		}	
		Phase.value = data.data.phase;
		Globals.MenuTournamentNew=false;
	});
});

const remaining = (line: number): number => {
	return Table.length-line-1;
}

const Pairings = (): Array<number> => {
	let Result: Array<number> = [];
	let Counter: number;
	for(Counter=0;Counter<Table.length;Counter++)
		if(((Counter<Line) && (Table[Line].versus[Counter] || Table[Counter].versus[Line-1])) || ((Line<Counter) && (Table[Line].versus[Counter-1] || Table[Counter].versus[Line])))
			Result.push(Counter);
	return Result;
}

const Score = (who: number, opp: number): string => {
	if(who<opp)
		return Table[who].versus[opp-1].toString().concat("/").concat(Table[opp].versus[who].toString());
	else
		return Table[who].versus[opp].toString().concat("/").concat(Table[opp].versus[who-1].toString());
}
</script>

<style lang="scss">
.tournament{
	width: 80%;
	margin: 0 auto;
       	@media (max-width: 767px) {
		padding: 0px 15px;
       		width: 100%;
       	}
	&__title{
		margin-top: 10px;
		margin-bottom: 15px;
		padding: 10px 0px;
		font-size: 36px;
		background-image: url(/img/core/scroll.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center;
		text-align: center;
	}
	table{
		width: 100%;
		spacing: 4px;
		border: 0;
		font-size: 24px;
		border-collapse: collapse;
		margin-bottom: 20px;
		border-radius: 10px;
		box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .5);
	}
	td{
		border: 1px solid black;
		padding: 4px;
		text-align: center;
		.follower{
			justify-content: center;
		}
	}
	.gray{
		background-color: #808080
	}
	tr:first-child td {
		border-top-style: none;
	}
	tr:last-child td {
		border-bottom-style: none;
	}
	tr td:first-child {
		border-left-style: none;
	}
	tr td:last-child {
		border-right-style: none;
	}
}
</style>