<template>
    <ul class="schedule">
        <template v-for="item in schedule">
            <component
                :is="getComponentName(item.type).name"
                :item="item"
                @update-list="updateList"
            >
            </component>
        </template>
    </ul>
</template>
<script setup lang="ts">
 import type {TSchedule} from "@/types/schedule";
 import ScheduleItem from "@/components/ScheduleItem/ScheduleItem.vue";
 import {onMounted, ref} from "vue";
 import type {Ref} from "vue";
 import axiosInstance from "@/axios";
 import BirthdayItem from "@/components/BirthdayItem/BirthdayItem.vue";
 import NotificationItem from "@/components/NotificationItem/NotificationItem.vue";
 import SeparatorItem from "@/components/SeparatorItem/SeparatorItem.vue";
 import CatchMeItem from "@/components/CatchMeItem/CatchMeItem.vue";
 import AchievementItem from "@/components/Achievements/ScheduleAchievementItem/ScheduleAchievementItem.vue";
 import {EventsTypesEnum} from "@/enums/EventsTypesEnum";

 let schedule: Ref<TSchedule | null> = ref(null);

 onMounted(() => {
     getSchedule();
 });

 type isComponentData = {
     name:
         typeof ScheduleItem |
         typeof BirthdayItem |
         typeof NotificationItem |
         typeof SeparatorItem |
         typeof CatchMeItem |
         typeof AchievementItem;
 };

 /**
  * Получить нужный компонент в расписании
  * @param eventType
  */
 const getComponentName = (eventType: EventsTypesEnum): isComponentData => {
     switch (eventType) {
         case EventsTypesEnum.GAME_EVENT_TYPE:
             return { name: ScheduleItem };
         case EventsTypesEnum.BIRTHDAY_TYPE:
             return { name: BirthdayItem };
         case EventsTypesEnum.NOTICE_TYPE:
             return { name: NotificationItem };
         case EventsTypesEnum.SEPARATOR_TYPE:
             return { name: SeparatorItem };
         case EventsTypesEnum.CATCH_ME_TYPE:
             return { name: CatchMeItem };
         case EventsTypesEnum.ACHIEVEMENT_TYPE:
             return { name: AchievementItem };
     }
 }

 const getSchedule = (): void => {
     axiosInstance.get(`/schedule`)
         .then(data => {
         const response = data.data;
         if (response && response.success) {
             schedule.value = response.schedule;
         }
     });
 };

 const updateList = (list: TSchedule) => schedule.value = list;
</script>
<style lang="scss">
    .schedule {
        padding: 40px;

        @media (max-width: 767px) {
            padding: 20px;
        }
    }
</style>
