<template>
    <li class="achievement-item" :class="{gained: item.gained}">
        <div class="achievement-item__title">
            <div class="achievement-item__icon">
                <img :src="item.icon" alt="" @click="showAchievementRatingModal(item.id)">
            </div>
            <b>
                {{item.name}}<template v-if="item.dan && item.dan.count">,
                {{ item.dan.count }} рецидив{{ DanEnding[item.dan.ending] }}
            </template>
            </b>
        </div>
        <div class="achievement-item__description">{{item.description}}</div>
        <div class="achievement-item__progress-checkboxes" v-if="item.checkboxes">
            <template v-for="(checkbox, index) in item.checkboxes" :key="`checkbox-${index}`">
                <div class="progress-checkbox">
                    <StatusOk :is-checked="!!checkbox.checked"></StatusOk>
                    {{ checkbox.label }}
                </div>
            </template>
        </div>
        <template v-for="(progress, index) in item.progressbars" :key="index">
            <div class="achievement-item__progress-label">{{ progress.label }}</div>
            <q-linear-progress
                size="50px"
                :value="getProgress(progress)"
                color="green"
                class="achievement-item__progressbar">
                <div class="absolute-full flex flex-center">
                    <div class="achievement-item__progress-badge">{{ getProgressLabel(progress) }}</div>
                </div>
            </q-linear-progress>
        </template>
        <div class="achievement-item__buttons" v-if="item.buttons">
            <button
                class="btn"
                v-for="(button, index) in item.buttons"
                :key="index"
                @click="showFrameModal(button.url)">
                {{ button.label }}
            </button>
        </div>
        <FrameModal v-if="modalUrl" :url="ForwardQuery(modalUrl)" @close="closeFrameModal"/>
	<AchievementRatingModal v-if="-1!=showRating" :achievement="showRating" :name="item.name" :icon="item.icon" @close="closeAchievementRatingModal"/>
    </li>
</template>

<script setup lang="ts">
import {computed, defineProps, ref} from "vue";
import type {Achievements} from "@/types/achievements";
import axiosInstance from "@/axios";
import FrameModal from "@/components/Modals/FrameModal.vue";
import AchievementRatingModal from "@/components/Modals/AchievementRatingModal.vue";
import StatusOk from "@/components/Widgets/StatusOk.vue";
import {useRouter} from "vue-router";
import {GetGlobalsPointer} from '@/stores/globals'	

const Globals = GetGlobalsPointer();
const props = defineProps<{
    item: Achievements.TAchievementItem,
}>();

const router = useRouter();
const DanEnding = ['','а','ов'];

const getProgress = (item: Achievements.TProgress) => {
    if (typeof item.progress == 'undefined' || typeof item.criteria == 'undefined') {
        return 0;
    }
    return item.progress / item.criteria;
};

const getProgressLabel = (item: Achievements.TProgress) => {
    if (typeof item.progress == 'undefined' || typeof item.criteria == 'undefined') {
        return '0 / 0';
    }
    return `${item.progress} / ${item.criteria}`;
};

const modalUrl = ref('');
const showRating = ref(-1);

const showFrameModal = (url: string) => {
    modalUrl.value = url;
};

const showAchievementRatingModal = (achievement: number) => {
    if(Globals.IsMobile)
	router.push({name: 'achievement_rating', query: {achievement: achievement}});
    else
	showRating.value=achievement;
};

const closeFrameModal = () => {
    modalUrl.value = '';
};

const closeAchievementRatingModal = () => {
    showRating.value=-1;
};

const ForwardQuery = (url: string):string => {
	return url.concat(window.location.search);
}
</script>

<style lang="scss">
.achievements__list {
    .achievement-item {
        background: #eeeeee;
        &__title {
            display: flex;
            justify-content: center;
        }

        &__icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        &__progressbar {
            margin-top: 20px;
        }

        &__progress-checkboxes {
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid black;
            @media (max-width: 767px) {
                margin-top: 20px;
                padding: 0px;
                border: 0px;
            }

            .progress-checkbox {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                font-size: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

                .status-ok {
                    width: 30px;
                    height: 30px;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        &__progress-badge {
            font-size: 24px;
            line-height: 1;
            color: #000;
        }

        &__progress-label {
            margin-top: 20px;
            margin-bottom: -20px;
            text-align: center;
            font-size: 16px;
        }

        &.gained {
            background-color: gold;
        }

        &__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .btn {
                margin: 0 10px;
            }
        }
    }
}
</style>
