<template>
    <div class="resources">
        <ul class="resources__list" v-if="resources.list">
            <li class="resources__item card-item" v-for="item in resources.list" :key="item.id" :style="{backgroundColor:BgColor[item.state]}">
                <img class="resources__img" v-if="!Globals.IsMobile" :src="item.icon" alt="">
                <div class="resources__content">
                    <div class="resources__title">
                        <img class="resources__img" v-if="Globals.IsMobile" :src="item.icon" alt="">
                        {{item.name}}
                    </div>
                    <q-linear-progress
                        size="10px"
                        :value="Fullness[item.state]"
                        color="black"
                        class="resources__progressbar">
                    </q-linear-progress>
                    <div class="resources__name" v-if="item.caredby">
                        Принесёт: <follower :follower="item.caredby" :lvlh="24"></follower>
                    </div>
                    <div v-if="!item.caredby">
                        <button class="btn" v-if="1 !== item.state" @click="state(item.id,1)">В дефиците</button>
                        <button class="btn" v-if="0 !== item.state" @click="state(item.id,0)">Достаточно</button>
                        <button class="btn" v-if="2 !== item.state" @click="state(item.id,2)">В избытке</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script setup lang="ts">
import axiosInstance from "@/axios";
import {onMounted, reactive} from "vue";
import Follower from "@/components/Follower/Follower.vue";
import type {TResourceItem} from "@/types/resources";
import {GetGlobalsPointer} from '@/stores/globals'	

const Globals = GetGlobalsPointer();
const BgColor = ['#CCFFCC','#FFCCCC','#CCCCFF','#FFFFCC'];
const Fullness = [.55,.15,.95,.15];

let resources: { [key: string]: Array<TResourceItem> | null } = reactive({
    list: null
});

onMounted(() => {
    axiosInstance.get(`/resources`).then(data => {
        resources.list = data.data.resources;
     });
 });

const state = (id: number, new_state: number): void => {
    axiosInstance.post(`/resource_state`,{resource: id, state: new_state}).then(data => {
        resources.list = data.data.resources;
    });
};

</script>
<style lang="scss">
.resources {
    &__list {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
	justify-content: space-between;
        @media (max-width: 1199px) {
            width: 100%;
            padding: 10px;
        }
    }

    &__item {
        display: flex;
        width: calc((100% - 40px)/2);
        margin-bottom: 40px;
        @media (max-width: 1199px) {
            width: 100%;
            margin: 20px 0;
            padding: 10px;
        }
    }

    &__img {
        width: 90px;
        height: 90px;
        margin-right: 20px;

        @media (max-width: 1199px) {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }

    &__content {
        width: 100%;
        hr {
            width: 100%;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }

    &__name {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 18px;
        line-height: 24px;
    }

    &__progressbar {
        margin-top: 5px;
	margin-bottom: 10px;
    }

    .follower {
        display: flex;
        align-items: center;
        margin-left: 10px;

        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }

        .name {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .btn {
        width: 48%;
        margin-right: 4%;
        &:last-child {
            margin-right: 0%;
        }
    }
}
</style>
