<template>
    <q-layout>
        <q-header class="header">
            <q-btn flat @click.stop="toggleMenu" round dense icon="menu" class="header__menu-btn" v-if="!isLoginPage"/>
            <h1><s>Психиатрическая лечебница</s> Котокафе доктора Румянцева</h1>
            <transition name="slideIn">
                <Menu v-if="menuIsVisible" @close="closeMenu"></Menu>
            </transition>
        </q-header>
        <q-page>
            <RouterView />
        </q-page>
        <Carousel v-if="carouselIsVisible"></Carousel>
    </q-layout>
</template>

<script setup lang="ts">
import {RouterView, useRoute} from 'vue-router';
import {computed, onMounted, ref} from 'vue';
import Menu from '@/components/Menu/Menu.vue';
import pageVisibilityService from '@/services/PageVisibilityService';
import {GetGlobalsPointer} from '@/stores/globals'
import Carousel from "@/components/Widgets/Carousel.vue";

const Globals = GetGlobalsPointer();
const route = useRoute();
const menuIsVisible = ref(false);

const carouselIsVisible = computed(() => Globals.photoCarouselIsVisible);

onMounted(() => {
	Globals.OnStartup();
	Globals.OnLogIn();
});

const toggleMenu = () => {
    menuIsVisible.value = !menuIsVisible.value;
};

const closeMenu = () => {
    menuIsVisible.value = false;
};

const isLoginPage = computed(() => {
    return route.name === 'authorization';
});

onMounted(() => {
    pageVisibilityService.init();
});
</script>

<style lang="scss">
@import '@/assets/scss/base.scss';
@import '@/assets/scss/header.scss';
.slideIn-enter-active,
.slideIn-leave-active {
    transition: transform 0.5s ease;
}

.slideIn-enter-from,
.slideIn-leave-to {
    transform: translateX(-100%);
}
</style>
