<template>
    <li class="separator-item">
        <b>{{ item.name }}</b>
    </li>
</template>
<script setup lang="ts">
import type {TScheduleItem} from "@/types/schedule";
import {defineProps} from "vue";
import type {Achievements} from "@/types/achievements";

const props = defineProps<{
    item: TScheduleItem | Achievements.TAchievementItem,
}>();
</script>
<style lang="scss">
.separator-item {
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    background-color: #ccc;

    @media (max-width: 767px) {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
}
</style>
