<script setup lang="ts">
import {onMounted, reactive} from "vue";
import axiosInstance from "@/axios";
import AuthService from "@/services/AuthService";
import {useRouter} from "vue-router";
import {useQuasar} from "quasar";
import {GetGlobalsPointer} from '@/stores/globals';

const Globals = GetGlobalsPointer();
let login = reactive({value: ''});
let password = reactive({value: ''});

    const router = useRouter();
    const $q = useQuasar();

    const onSubmit = (): void => {
        axiosInstance.post(`/authorization`, {
            login: login.value,
            pass: password.value
        }).then(data => {
            if (data.data && data.data.success) {
                if (data.data.token) {
                    AuthService.setToken(data.data.token);
		    Globals.OnLogIn();
                }
                router.push({name: 'schedule'});
            } else {
                $q.notify({
                    message: '<div class="notification">Ну ты че?<br> Вспоминай!</div>',
                    html: true,
                    position: 'center',
                    color: 'red',
                });
            }
        });
    };

    const onReset = (): void => {
        login.value = '';
        password.value = '';
    };

    onMounted(() => {
        if (AuthService.getToken()) {
            router.push({name: 'schedule'});
        }
    });
</script>

<template>
    <div class="q-pa-md" style="max-width: 400px">

        <q-form
            @submit.prevent="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
        >
            <q-input
                v-model="login.value"
                label="Логин *"
            />

            <q-input
                type="password"
                v-model="password.value"
                label="Пароль *"
            />
            <div>
                <q-btn label="Войти" type="submit" color="primary"/>
                <q-btn label="Сбросить" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
        </q-form>

    </div>
</template>

<style lang="scss">
    .notification {
        font-size: 30px;
        line-height: 42px;
        text-align: center;
    }
</style>
