<template>
    <li class="achievement-item">
        <img class="achievement-item__bg achievement-item__bg--right" :src="imgBgRight" alt="">
        <img class="achievement-item__bg achievement-item__bg--left" :src="imgBgLeft" alt="">
        <div class="achievement-item__title">
            <b>
                <follower :follower="item.follower" :lvlh="32"></follower>
		&nbsp;получил<span v-if="!item.follower.gender">а</span> новую запись в медкарте: {{item.name}}!
            </b>
        </div>
        <div class="achievement-item__description">
            Чтобы получить такую же {{item.description}}
        </div>
    </li>
</template>

<script setup lang="ts">
import type {TScheduleItem} from "@/types/schedule";
import {defineProps,computed} from "vue";
import Follower from "@/components/Follower/Follower.vue";
import {GetGlobalsPointer} from '@/stores/globals'	

const Globals = GetGlobalsPointer();

const props = defineProps<{
    item: TScheduleItem,
}>();

const imgBgLeft = '/img/core/gained_left.png';
const imgBgRight = '/img/core/gained_right.png';
</script>

<style lang="scss">
@import '@/assets/scss/achievement-item.scss';
</style>
